<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="f278f8b63e8efaf4e7cde4d3207b52c36b7baa0e">
  <status>normal</status>
  <name>news</name>
  <description>Implementation of an News system. It is possible to post news and users can comment each entry</description>
  <path>/news</path>
  <namespace>news</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/news</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <required>
    <service>org.amun-project.comment</service>
  </required>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/news</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <activity>
    <template type="INSERT" verb="add" table="news" path="view?id={record.id}"><![CDATA[
<p><a href="{user.profileUrl}">{user.name}</a> has created a <a href="{object.url}">news</a></p><blockquote>{record.text}</blockquote>
]]></template>
  </activity>
  <permissions>
    <perm name="view" description="News View"/>
    <perm name="add" description="News Add"/>
    <perm name="edit" description="News Edit"/>
    <perm name="delete" description="News Delete"/>
    <perm name="comment_add" description="News Comment Add"/>
  </permissions>
  <navigation>
    <option name="index"/>
    <option name="view"/>
  </navigation>
  <registry>
    <table name="news"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="News">
        <file name="Form.php" md5="e1ba1960360a76d9facd13388f79128a"/>
        <file name="Handler.php" md5="55da87f2c57f5fe159afef04bfd5610a"/>
        <file name="Record.php" md5="aa360b3725bb8c8fee7e9ddc80cd3502"/>
        <file name="Table.php" md5="3cfbe39789f98527fb1cb27d3b5d6d2b"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.news}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `urlTitle` VARCHAR(128) NOT NULL,
  `title` VARCHAR(128) NOT NULL,
  `text` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
