<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="4a08fcd5704fdec8eec094c3516f597be734f1f3">
  <status>normal</status>
  <name>news</name>
  <path>/news</path>
  <namespace>news</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/news</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <required>
    <service>org.amun-project.comment</service>
  </required>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/news</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Service News View"/>
    <perm name="add" description="Service News Add"/>
    <perm name="edit" description="Service News Edit"/>
    <perm name="delete" description="Service News Delete"/>
    <perm name="comment_add" description="Service News Comment Add"/>
  </permissions>
  <registry>
    <table name="news"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="News">
        <file name="Form.php" md5="beb71027e9e37d46b3664a0363962e8c"/>
        <file name="Handler.php" md5="9441e6b4ce20fc6731a599078359ad48"/>
        <file name="Record.php" md5="ddd4785c5cbfb7bbc8d1bab5db2b9a44"/>
        <file name="Stream.php" md5="2a54254f695893ab2d0105fbeb4e911c"/>
        <file name="Table.php" md5="ba76a7f1d6626912da7bf2070699122f"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.news}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `urlTitle` VARCHAR(128) NOT NULL,
  `title` VARCHAR(128) NOT NULL,
  `text` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[INSERT INTO `{table.core_content_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index'),
({service.id}, 'view');]]></query>
    <query><![CDATA[INSERT INTO `{table.core_user_activity_template}` (`type`, `verb`, `table`, `path`, `summary`) VALUES
('INSERT', 'add', 'amun_service_news', 'view?id={record.id}', '<p><a href="{user.profileUrl}">{user.name}</a> has created a <a href="{object.url}">news</a></p><blockquote>{record.text}</blockquote>');]]></query>
    <if hasService="my">
      <query><![CDATA[INSERT INTO `{table.core_service_my_notify_service}` (`table`, `title`) VALUES
('amun_service_news', 'News');]]></query>
    </if>
  </database>
</service>
