<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org">
  <status>system</status>
  <path>/marketplace</path>
  <namespace>AmunService\Marketplace</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/marketplace</type>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/marketplace</type>
      <uri>/</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/marketplace/get</type>
      <uri>/get</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Marketplace view"/>
    <perm name="add" description="Marketplace add"/>
    <perm name="edit" description="Marketplace edit"/>
    <perm name="delete" description="Marketplace delete"/>
  </permissions>
  <registry>
    <table name="marketplace"/>
  </registry>
  <event>
    <listener name="vcshook.commit" class="\AmunService\Marketplace\CommitListener"/>
  </event>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.marketplace}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `globalId` varchar(36) NOT NULL,
  `status` int(10) NOT NULL,
  `source` varchar(128) NOT NULL,
  `name` varchar(32) NOT NULL,
  `description` text NOT NULL,
  `link` varchar(256) NOT NULL,
  `author` varchar(256) NOT NULL,
  `license` varchar(256) NOT NULL,
  `version` varchar(16) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `source` (`source`)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
