<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="52adb9d21f973bf5e733ccf4a1204c8456bb60bb">
  <status>system</status>
  <name>oauth</name>
  <description>Provides an Oauth 1.0 endpoint implementation where applications can register to access the API</description>
  <path>/oauth</path>
  <namespace>oauth</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/oauth</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://oauth.net/core/1.0/endpoint/request</type>
      <uri>/endpoint/request</uri>
    </service>
    <service>
      <type>http://oauth.net/core/1.0/endpoint/authorize</type>
      <uri>/endpoint/authorization</uri>
    </service>
    <service>
      <type>http://oauth.net/core/1.0/endpoint/access</type>
      <uri>/endpoint/access</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/oauth</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/oauth/access</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/access</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/oauth/request</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/request</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Oauth view"/>
    <perm name="add" description="Oauth add"/>
    <perm name="edit" description="Oauth edit"/>
    <perm name="delete" description="Oauth delete"/>
    <perm name="access_view" description="Oauth Access view"/>
    <perm name="access_add" description="Oauth Access add"/>
    <perm name="access_edit" description="Oauth Access edit"/>
    <perm name="access_delete" description="Oauth Access delete"/>
    <perm name="request_view" description="Oauth Request view"/>
    <perm name="request_add" description="Oauth Request add"/>
    <perm name="request_edit" description="Oauth Request edit"/>
    <perm name="request_delete" description="Oauth Request delete"/>
    <perm name="access_right_view" description="Oauth Access Right view"/>
    <perm name="access_right_add" description="Oauth Access Right add"/>
    <perm name="access_right_edit" description="Oauth Access Right edit"/>
    <perm name="access_right_delete" description="Oauth Access Right delete"/>
  </permissions>
  <registry>
    <table name="oauth"/>
    <table name="oauth_access"/>
    <table name="oauth_access_right"/>
    <table name="oauth_request"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Oauth">
        <dir name="Access">
          <dir name="Right">
            <file name="Handler.php" md5="e04b9cdcc0bbdce57983027a48c20bf4"/>
            <file name="Record.php" md5="e29edaa249a5d80887840fece3ae1138"/>
            <file name="Table.php" md5="f4264589902f6d0f114ba439cfc0cb75"/>
          </dir>
          <file name="Form.php" md5="14b6ec4356dc0d0f4b5004c048e04548"/>
          <file name="Handler.php" md5="c1d0ed1c14c9525ce7269b6842dc55b8"/>
          <file name="Record.php" md5="77ef41ece706330171102ebb4a512196"/>
          <file name="Table.php" md5="c2e7e0d4055c150d4e07cd96b0f578e2"/>
        </dir>
        <dir name="Filter">
          <file name="Callback.php" md5="d06a9779a72b288ec3fb8c189a231982"/>
          <file name="Status.php" md5="4c1fd2b1bc71e8cff28e09190a7a745d"/>
        </dir>
        <file name="Form.php" md5="f5bf79faa7973be137203767df70caf6"/>
        <file name="Handler.php" md5="ec521ddea2e27556f65f1218b6f95232"/>
        <file name="Record.php" md5="52ba76bc8a1f7353a19cb862542b7572"/>
        <dir name="Request">
          <file name="Form.php" md5="1951f019589028e7d9c87f5aa9c66760"/>
          <file name="Handler.php" md5="0e1d2df4bab6bf87b462a0952324b6d9"/>
          <file name="Record.php" md5="3efb1a455d8d5a26f0d75452f5df4ed4"/>
          <file name="Table.php" md5="99145a15e68088ea1df57487e1a0d30b"/>
        </dir>
        <file name="Table.php" md5="d628fe433a120e5d08a65bc57ba6d504"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `status` int(10) NOT NULL,
  `name` varchar(64) NOT NULL,
  `email` varchar(64) NOT NULL,
  `url` varchar(256) NOT NULL,
  `title` varchar(64) NOT NULL,
  `description` longtext NOT NULL,
  `consumerKey` varchar(40) NOT NULL,
  `consumerSecret` varchar(40) NOT NULL,
  `callback` varchar(256) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `consumerKey` (`consumerKey`)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth_access}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `apiId` int(10) NOT NULL,
  `userId` int(10) NOT NULL,
  `allowed` tinyint(1) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `apiUserId` (`apiId`,`userId`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth_access_right}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `accessId` int(10) NOT NULL,
  `rightId` int(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth_request}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `apiId` int(10) NOT NULL,
  `userId` int(10) NOT NULL,
  `status` int(10) NOT NULL,
  `ip` varchar(32) NOT NULL,
  `nonce` varchar(16) NOT NULL,
  `callback` varchar(256) NOT NULL,
  `token` varchar(40) NOT NULL,
  `tokenSecret` varchar(40) NOT NULL,
  `verifier` varchar(32) NOT NULL,
  `timestamp` varchar(25) NOT NULL,
  `expire` varchar(25) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`)
) ENGINE=MyISAM  DEFAULT CHARSET=ascii;]]></query>
  </database>
</service>
