<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="3a3c90cf7f7d342de1efa617aa34c05144c600f9">
  <status>system</status>
  <name>oauth</name>
  <description>Provides an Oauth 1.0 endpoint implementation where applications can register to access the API</description>
  <path>/oauth</path>
  <namespace>oauth</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/oauth</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://oauth.net/core/1.0/endpoint/request</type>
      <uri>/endpoint/request</uri>
    </service>
    <service>
      <type>http://oauth.net/core/1.0/endpoint/authorize</type>
      <uri>/endpoint/authorization</uri>
    </service>
    <service>
      <type>http://oauth.net/core/1.0/endpoint/access</type>
      <uri>/endpoint/access</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/oauth</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/oauth/access</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/access</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/oauth/request</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/request</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Oauth view"/>
    <perm name="add" description="Oauth add"/>
    <perm name="edit" description="Oauth edit"/>
    <perm name="delete" description="Oauth delete"/>
    <perm name="access_view" description="Oauth Access view"/>
    <perm name="access_add" description="Oauth Access add"/>
    <perm name="access_edit" description="Oauth Access edit"/>
    <perm name="access_delete" description="Oauth Access delete"/>
    <perm name="request_view" description="Oauth Request view"/>
    <perm name="request_add" description="Oauth Request add"/>
    <perm name="request_edit" description="Oauth Request edit"/>
    <perm name="request_delete" description="Oauth Request delete"/>
    <perm name="access_right_view" description="Oauth Access Right view"/>
    <perm name="access_right_add" description="Oauth Access Right add"/>
    <perm name="access_right_edit" description="Oauth Access Right edit"/>
    <perm name="access_right_delete" description="Oauth Access Right delete"/>
  </permissions>
  <registry>
    <table name="oauth"/>
    <table name="oauth_access"/>
    <table name="oauth_access_right"/>
    <table name="oauth_request"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Oauth">
        <dir name="Access">
          <dir name="Right">
            <file name="Handler.php" md5="4dfc27d624d22bc6541cc3db56bce0d4"/>
            <file name="Record.php" md5="02e1d41d7957aaa9e2cbe256c841055a"/>
            <file name="Table.php" md5="e87a57a05b4db74f1c2c4d36e376d37d"/>
          </dir>
          <file name="Form.php" md5="e683363595b4aeb8da9dad8d41cc3707"/>
          <file name="Handler.php" md5="f9ba72a0fe81650a8f24eb50bd0bed07"/>
          <file name="Record.php" md5="c85429468be6a8caf59908bc294f447c"/>
          <file name="Table.php" md5="8728661b728d4a24c46193d0a029ca12"/>
        </dir>
        <dir name="Filter">
          <file name="Callback.php" md5="20dd087a4c7096a18dc7dbd4e42a2a1c"/>
          <file name="Status.php" md5="8c6fd1ce65809416ac40c2196c37bee0"/>
        </dir>
        <file name="Form.php" md5="93d7c3feb1dd706dcb9523fc666499f0"/>
        <file name="Handler.php" md5="cef28be207601b032cd7ebc06ba079ab"/>
        <file name="Record.php" md5="addbe368c54f78d29272bd635716dec2"/>
        <dir name="Request">
          <file name="Form.php" md5="16b51d33ec420a8d4353a7e73a1294e2"/>
          <file name="Handler.php" md5="bd7a005b7e23e88b91250b49f4d5f4bc"/>
          <file name="Record.php" md5="2b7ba22189ce1aa7a9a726195c2aae51"/>
          <file name="Table.php" md5="03132e39b69b9e1a4e899b47607743bd"/>
        </dir>
        <file name="Table.php" md5="6d2b45f98c4636e5131808668ca9e315"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `status` int(10) NOT NULL,
  `name` varchar(64) NOT NULL,
  `email` varchar(64) NOT NULL,
  `url` varchar(256) NOT NULL,
  `title` varchar(64) NOT NULL,
  `description` longtext NOT NULL,
  `consumerKey` varchar(40) NOT NULL,
  `consumerSecret` varchar(40) NOT NULL,
  `callback` varchar(256) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `consumerKey` (`consumerKey`)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth_access}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `apiId` int(10) NOT NULL,
  `userId` int(10) NOT NULL,
  `allowed` tinyint(1) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `apiUserId` (`apiId`,`userId`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth_access_right}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `accessId` int(10) NOT NULL,
  `rightId` int(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth_request}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `apiId` int(10) NOT NULL,
  `userId` int(10) NOT NULL,
  `status` int(10) NOT NULL,
  `ip` varchar(32) NOT NULL,
  `nonce` varchar(16) NOT NULL,
  `callback` varchar(256) NOT NULL,
  `token` varchar(40) NOT NULL,
  `tokenSecret` varchar(40) NOT NULL,
  `verifier` varchar(32) NOT NULL,
  `timestamp` varchar(25) NOT NULL,
  `expire` varchar(25) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`)
) ENGINE=MyISAM  DEFAULT CHARSET=ascii;]]></query>
  </database>
</service>
