<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org">
  <status>system</status>
  <path>/oauth</path>
  <namespace>AmunService\Oauth</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/oauth</type>
  <api>
    <service>
      <type>http://oauth.net/core/1.0/endpoint/request</type>
      <uri>/endpoint/request</uri>
    </service>
    <service>
      <type>http://oauth.net/core/1.0/endpoint/authorize</type>
      <uri>/endpoint/authorization</uri>
    </service>
    <service>
      <type>http://oauth.net/core/1.0/endpoint/access</type>
      <uri>/endpoint/access</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/oauth</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/oauth/access</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/access</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/oauth/request</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/request</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Oauth view"/>
    <perm name="add" description="Oauth add"/>
    <perm name="edit" description="Oauth edit"/>
    <perm name="delete" description="Oauth delete"/>
    <perm name="access_view" description="Oauth Access view"/>
    <perm name="access_add" description="Oauth Access add"/>
    <perm name="access_edit" description="Oauth Access edit"/>
    <perm name="access_delete" description="Oauth Access delete"/>
    <perm name="request_view" description="Oauth Request view"/>
    <perm name="request_add" description="Oauth Request add"/>
    <perm name="request_edit" description="Oauth Request edit"/>
    <perm name="request_delete" description="Oauth Request delete"/>
    <perm name="access_right_view" description="Oauth Access Right view"/>
    <perm name="access_right_add" description="Oauth Access Right add"/>
    <perm name="access_right_edit" description="Oauth Access Right edit"/>
    <perm name="access_right_delete" description="Oauth Access Right delete"/>
  </permissions>
  <registry>
    <table name="oauth"/>
    <table name="oauth_access"/>
    <table name="oauth_access_right"/>
    <table name="oauth_request"/>
  </registry>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `status` int(10) NOT NULL,
  `name` varchar(64) NOT NULL,
  `email` varchar(64) NOT NULL,
  `url` varchar(256) NOT NULL,
  `title` varchar(64) NOT NULL,
  `description` longtext NOT NULL,
  `consumerKey` varchar(40) NOT NULL,
  `consumerSecret` varchar(40) NOT NULL,
  `callback` varchar(256) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `consumerKey` (`consumerKey`)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth_access}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `apiId` int(10) NOT NULL,
  `userId` int(10) NOT NULL,
  `allowed` tinyint(1) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `apiUserId` (`apiId`,`userId`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth_access_right}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `accessId` int(10) NOT NULL,
  `rightId` int(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.oauth_request}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `apiId` int(10) NOT NULL,
  `userId` int(10) NOT NULL,
  `status` int(10) NOT NULL,
  `ip` varchar(32) NOT NULL,
  `nonce` varchar(16) NOT NULL,
  `callback` varchar(256) NOT NULL,
  `token` varchar(40) NOT NULL,
  `tokenSecret` varchar(40) NOT NULL,
  `verifier` varchar(32) NOT NULL,
  `timestamp` varchar(25) NOT NULL,
  `expire` varchar(25) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`)
) ENGINE=MyISAM  DEFAULT CHARSET=ascii;]]></query>
  </database>
</service>
