<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org">
  <status>system</status>
  <path>/openid</path>
  <namespace>AmunService\Openid</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/openid</type>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/openid</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/openid/access</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/access</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/openid/assoc</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/assoc</uri>
    </service>
    <service>
      <type>http://specs.openid.net/auth/2.0/signon</type>
      <type>http://openid.net/extensions/sreg/1.1</type>
      <type>http://specs.openid.net/extensions/oauth/1.0</type>
      <uri>/signon</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="OpenId View"/>
    <perm name="add" description="OpenId add"/>
    <perm name="edit" description="OpenId edit"/>
    <perm name="delete" description="OpenId delete"/>
    <perm name="access_view" description="OpenId Access view"/>
    <perm name="access_add" description="OpenId Access add"/>
    <perm name="access_edit" description="OpenId Access edit"/>
    <perm name="access_delete" description="OpenId Access delete"/>
  </permissions>
  <registry>
    <table name="openid"/>
    <table name="openid_access"/>
    <table name="openid_assoc"/>
  </registry>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.openid}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` int(10) NOT NULL,
  `assocId` int(10) NOT NULL,
  `status` int(10) NOT NULL DEFAULT '1',
  `claimedId` varchar(256) NOT NULL,
  `identity` varchar(256) NOT NULL,
  `returnTo` varchar(256) NOT NULL,
  `responseNonce` varchar(32) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_assoc_id` (`userId`,`assocId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.openid_access}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` int(10) NOT NULL,
  `returnTo` varchar(256) NOT NULL,
  `allowed` tinyint(1) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `userId_returnTo` (`userId`,`returnTo`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.openid_assoc}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `assocHandle` varchar(256) NOT NULL,
  `assocType` enum('HMAC-SHA1','HMAC-SHA256') NOT NULL,
  `sessionType` enum('DH-SHA1','DH-SHA256'),
  `secret` varchar(256) NOT NULL,
  `expires` varchar(25) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `assocHandle` (`assocHandle`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
  </database>
</service>
