<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="586cf23d714d1b99c71683551b006d313c357fe9">
  <status>system</status>
  <name>openid</name>
  <description>Provides an OpenID provider implementation</description>
  <path>/openid</path>
  <namespace>openid</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/openid</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/openid</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/openid/access</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/access</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/openid/assoc</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/assoc</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="OpenId View"/>
    <perm name="add" description="OpenId add"/>
    <perm name="edit" description="OpenId edit"/>
    <perm name="delete" description="OpenId delete"/>
    <perm name="access_view" description="OpenId Access view"/>
    <perm name="access_add" description="OpenId Access add"/>
    <perm name="access_edit" description="OpenId Access edit"/>
    <perm name="access_delete" description="OpenId Access delete"/>
  </permissions>
  <registry>
    <table name="openid"/>
    <table name="openid_access"/>
    <table name="openid_assoc"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Openid">
        <dir name="Access">
          <file name="Form.php" md5="4220745ee2ccd6d0ff730aa20010e497"/>
          <file name="Handler.php" md5="e144d5d657958e3d0c8829f3a6a43fef"/>
          <file name="Record.php" md5="ce30cd343fe635fa5ef6f2e71a82db86"/>
          <file name="Table.php" md5="8ddeca95226e9311bfb80b08a589f814"/>
        </dir>
        <dir name="Assoc">
          <file name="Table.php" md5="7b62869354c137554522d5cb5f2122c4"/>
        </dir>
        <dir name="Filter">
          <file name="Status.php" md5="9780dc0676a20b378a4ce37c2b42c958"/>
        </dir>
        <file name="Form.php" md5="4ff837062317c08a99b29107996ef5d5"/>
        <file name="Handler.php" md5="3f48a070bb73b145eaac36193812426c"/>
        <file name="Record.php" md5="8fc750071c6b8d5506e0d0da3c0cb94d"/>
        <file name="Table.php" md5="c866802b67122e11269b4382ded1de19"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.openid}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` int(10) NOT NULL,
  `assocId` int(10) NOT NULL,
  `status` int(10) NOT NULL DEFAULT '1',
  `claimedId` varchar(256) NOT NULL,
  `identity` varchar(256) NOT NULL,
  `returnTo` varchar(256) NOT NULL,
  `responseNonce` varchar(32) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_assoc_id` (`userId`,`assocId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.openid_access}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` int(10) NOT NULL,
  `returnTo` varchar(256) NOT NULL,
  `allowed` tinyint(1) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `userId_returnTo` (`userId`,`returnTo`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.openid_assoc}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `assocHandle` varchar(256) NOT NULL,
  `assocType` enum('HMAC-SHA1','HMAC-SHA256') NOT NULL,
  `sessionType` enum('DH-SHA1','DH-SHA256'),
  `secret` varchar(256) NOT NULL,
  `expires` varchar(25) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `assocHandle` (`assocHandle`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
  </database>
</service>
