
div.amun-service-my
{
}

div.amun-service-my-header
{
}

div.amun-service-my-header img
{
	margin-right:6px;
}

div.amun-service-my-activity
{

}

div.amun-service-my-activity-entry
{
	margin-top:14px;
}

div.amun-service-my-activity-entry h4
{
	margin:0px
}

div.amun-service-my-activity-entry img
{
	margin-right:6px;
	margin-bottom:6px;
}

div.amun-service-my-activity-entry-hidden
{
	opacity:0.6;
}

div.amun-service-my-activity-summary
{
	padding-left:54px;
}

div.amun-service-my-activity-entry-comments
{
	padding-left:54px;
}

.amun-service-my-activity-entry p.muted
{
	margin:0px;
	font-size:0.8em;
	margin-left:54px;
}

div.amun-service-my-activity-entry-reply
{
	display:none;
	padding-left:54px;
}

div.amun-service-my-activity-entry-reply textarea
{
	margin-top:14px;
	width:96%;
	height:24px;
}

div.amun-service-my-app-rights
{
	display:none;
}

div.amun-service-my-app-rights ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

div.amun-service-my-app-rights li
{
	float:left;
	width:220px;
}

div.amun-service-my-app-rights hr
{
	display:block;
	clear:both;
}

div.amun-gadget-latestuser
{
	margin:2px;
}

div.amun-gadget-latestuser ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

div.amun-gadget-latestuser li
{
	float:left;
	margin:4px;
}

div.amun-gadget-latestactivity
{
	margin:2px;
}

div.amun-gadget-latestactivity ul
{
	margin:0px;
	margin-bottom:12px;
	padding:0px;
	list-style-type:none;
}

div.amun-gadget-latestactivity li
{
	padding-top:4px;
	clear:left;
}

div.amun-gadget-latestactivity li img
{
	margin:0px 4px;
	float:left;
}

div.amun-gadget-latestactivity li p
{
	margin-bottom:0px;
}

div.amun-gadget-activitychart
{
	text-align:center;
}

div.amun-gadget-activitychart img
{
	margin:6px;
}

div.amun-gadget-usermap
{
	margin:2px;
	text-align:center;
}

div.amun-gadget-usermap img
{
	margin:0 auto;
}


