<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="caa2f659da398fecf663e77c9eb8ce779074f3c2">
  <status>normal</status>
  <name>plugin</name>
  <description>Service to list plugins. Each plugin can be maintained by multiple users. News versions can be added by maintainer</description>
  <path>/plugin</path>
  <namespace>plugin</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/plugin</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <required>
    <service>org.amun-project.comment</service>
  </required>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/plugin</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/plugin/maintainer</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/maintainer</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/plugin/release</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/release</uri>
    </service>
  </api>
  <activity>
    <template type="INSERT" verb="add" table="plugin_release" path="view?id={record.id}"><![CDATA[
<p><a href="{user.profileUrl}">{user.name}</a> has released version {record.version} ({record.status})</p>
]]></template>
  </activity>
  <permissions>
    <perm name="view" description="Service Plugin View"/>
    <perm name="add" description="Service Plugin Add"/>
    <perm name="edit" description="Service Plugin Edit"/>
    <perm name="delete" description="Service Plugin Delete"/>
    <perm name="comment_add" description="Service Plugin Comment Add"/>
    <perm name="maintainer_view" description="Service Plugin Maintainer View"/>
    <perm name="maintainer_add" description="Service Plugin Maintainer Add"/>
    <perm name="maintainer_edit" description="Service Plugin Maintainer Edit"/>
    <perm name="maintainer_delete" description="Service Plugin Maintainer Delete"/>
    <perm name="release_view" description="Service Plugin Release View"/>
    <perm name="release_add" description="Service Plugin Release Add"/>
    <perm name="release_edit" description="Service Plugin Release Edit"/>
    <perm name="release_delete" description="Service Plugin Release Delete"/>
  </permissions>
  <navigation>
    <option name="index"/>
    <option name="view"/>
  </navigation>
  <registry>
    <table name="plugin"/>
    <table name="plugin_maintainer"/>
    <table name="plugin_release"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Plugin">
        <file name="Form.php" md5="724dcc0825aaf0f6232f9490cfaafdef"/>
        <file name="Handler.php" md5="fea9e10b329b19de94464788cfe35c6b"/>
        <dir name="Maintainer">
          <file name="Form.php" md5="07e59888263b5a15c7974ca521c12ab9"/>
          <file name="Handler.php" md5="211ff4dff86b1054b521fd28c9d9b45a"/>
          <file name="Record.php" md5="6797fd5e7716aa197f5fa45bc6ff3921"/>
          <file name="Table.php" md5="d61eee09d029830bfb28c8fd17e1bafd"/>
        </dir>
        <file name="Record.php" md5="02de43b6d8d2aa83ca9ae6020d0eb030"/>
        <dir name="Release">
          <file name="Form.php" md5="8742c9487f870d1969d5b929f6fc899b"/>
          <file name="Handler.php" md5="9497f30862262b6c040701c326af5575"/>
          <file name="Record.php" md5="77ff77e67980ff4d46fa0589109e101a"/>
          <file name="Table.php" md5="c6f117cbf64e2149fdfcd3e9533aeaea"/>
        </dir>
        <file name="Table.php" md5="34876d6ffd98c101b312af59c85bac0f"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.plugin}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `status` INT(10) NOT NULL,
  `urlTitle` VARCHAR(128) NOT NULL,
  `title` VARCHAR(128) NOT NULL,
  `description` TEXT NOT NULL,
  `rateUp` INT(10) NOT NULL DEFAULT '0',
  `rateDown` INT(10) NOT NULL DEFAULT '0',
  `releaseDate` DATETIME NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.plugin_maintainer}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `pluginId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pluginUserId` (`pluginId`,`userId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.plugin_release}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pluginId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `status` ENUM('STABLE','BETA','ALPHA') NOT NULL,
  `version` VARCHAR(32) NOT NULL,
  `href` VARCHAR(256) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
