<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="4371b9fd65c80e96e2ad1ba05244bb9011aa6d47">
  <status>normal</status>
  <name>plugin</name>
  <path>/service/plugin</path>
  <namespace>Amun_Service_Plugin</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/plugin</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <required>
    <service>org.amun-project.comment</service>
  </required>
  <permissions>
    <perm name="view" description="Service Plugin View" />
    <perm name="add" description="Service Plugin Add" />
    <perm name="edit" description="Service Plugin Edit" />
    <perm name="delete" description="Service Plugin Delete" />
    <perm name="comment_add" description="Service Plugin Comment Add" />
    <perm name="maintainer_view" description="Service Plugin Maintainer View" />
    <perm name="maintainer_add" description="Service Plugin Maintainer Add" />
    <perm name="maintainer_edit" description="Service Plugin Maintainer Edit" />
    <perm name="maintainer_delete" description="Service Plugin Maintainer Delete" />
    <perm name="release_view" description="Service Plugin Release View" />
    <perm name="release_add" description="Service Plugin Release Add" />
    <perm name="release_edit" description="Service Plugin Release Edit" />
    <perm name="release_delete" description="Service Plugin Release Delete" />
  </permissions>
  <library>
    <dir name="Amun">
      <dir name="Service">
        <dir name="Plugin">
          <file name="Form.php" md5="0fda40a36aea0d71592ade993c4dbdbc"/>
          <file name="Handler.php" md5="40906d0d9ddd4153863fcc83e17d9f5c"/>
          <dir name="Maintainer">
            <file name="Form.php" md5="8717d4720ba9f422b08f3c5fe4a873e9"/>
            <file name="Handler.php" md5="ff9c69053672af05cffe1f23d6ec8234"/>
            <file name="Table.php" md5="60b5c035085cec20df45eebee895ad8d"/>
          </dir>
          <file name="Maintainer.php" md5="b580f23b4d2edb479d53d1d4703ae966"/>
          <dir name="Release">
            <file name="Form.php" md5="da5e57c00037ce23f6905c862d625500"/>
            <file name="Handler.php" md5="f88c8ec6824d61d8cedefa0f660cd7a5"/>
            <file name="Table.php" md5="3fe2a0ac70d87d7f215e8219db1c208f"/>
          </dir>
          <file name="Release.php" md5="4ddf99d3a7271e252313f6e5783e9090"/>
          <file name="Table.php" md5="9e26e9ee01c6fa394195eca14d6ae7dc"/>
        </dir>
        <file name="Plugin.php" md5="99f8eb68e56ac7a5753ccabf548a48ae"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[INSERT INTO `{table.amun_system_registry}` (`name`, `type`, `value`) VALUES
('table.amun_service_plugin', 'STRING', '{config.table_prefix}service_plugin'),
('table.amun_service_plugin_maintainer', 'STRING', '{config.table_prefix}service_plugin_maintainer'),
('table.amun_service_plugin_release', 'STRING', '{config.table_prefix}service_plugin_release');]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.amun_service_plugin}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `status` INT(10) NOT NULL,
  `urlTitle` VARCHAR(128) NOT NULL,
  `title` VARCHAR(128) NOT NULL,
  `description` TEXT NOT NULL,
  `rateUp` INT(10) NOT NULL DEFAULT '0',
  `rateDown` INT(10) NOT NULL DEFAULT '0',
  `releaseDate` DATETIME NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.amun_service_plugin_maintainer}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `pluginId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pluginUserId` (`pluginId`,`userId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.amun_service_plugin_release}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pluginId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `status` ENUM('STABLE','BETA','ALPHA') NOT NULL,
  `version` VARCHAR(32) NOT NULL,
  `href` VARCHAR(256) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query storeID="content_api"><![CDATA[INSERT INTO `{table.amun_content_api}` (`serviceId`, `priority`, `endpoint`) VALUES
({service.id}, 0, 'service/plugin');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_api_type}` (`apiId`, `type`) VALUES
({id.content_api}, '{service.type}'),
({id.content_api}, 'http://ns.amun-project.org/2011/amun/data/1.0');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index'),
({service.id}, 'view');]]></query>
    <query storeID="content_api"><![CDATA[INSERT INTO `{table.amun_content_api}` (`serviceId`, `priority`, `endpoint`) VALUES
({service.id}, 0, 'service/plugin/maintainer');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_api_type}` (`apiId`, `type`) VALUES
({id.content_api}, '{service.type}/maintainer'),
({id.content_api}, 'http://ns.amun-project.org/2011/amun/data/1.0');]]></query>
    <query storeID="content_api"><![CDATA[INSERT INTO `{table.amun_content_api}` (`serviceId`, `priority`, `endpoint`) VALUES
({service.id}, 0, 'service/plugin/release');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_api_type}` (`apiId`, `type`) VALUES
({id.content_api}, '{service.type}/release'),
({id.content_api}, 'http://ns.amun-project.org/2011/amun/data/1.0');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_user_activity_template}` (`type`, `verb`, `table`, `path`, `summary`) VALUES
('INSERT', 'add', 'amun_service_plugin_release', 'view?id={record.id}', '<p><a href="{user.profileUrl}">{user.name}</a> has released version {record.version} ({record.status})</p>');]]></query>
  </database>
</service>
