<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="c2bb1c996dd7f82d230ec0e49d5bfc87a78c460c">
  <status>normal</status>
  <name>plugin</name>
  <path>/plugin</path>
  <namespace>plugin</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/plugin</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <required>
    <service>org.amun-project.comment</service>
  </required>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/plugin</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/plugin/maintainer</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/maintainer</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/plugin/release</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/release</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Service Plugin View"/>
    <perm name="add" description="Service Plugin Add"/>
    <perm name="edit" description="Service Plugin Edit"/>
    <perm name="delete" description="Service Plugin Delete"/>
    <perm name="comment_add" description="Service Plugin Comment Add"/>
    <perm name="maintainer_view" description="Service Plugin Maintainer View"/>
    <perm name="maintainer_add" description="Service Plugin Maintainer Add"/>
    <perm name="maintainer_edit" description="Service Plugin Maintainer Edit"/>
    <perm name="maintainer_delete" description="Service Plugin Maintainer Delete"/>
    <perm name="release_view" description="Service Plugin Release View"/>
    <perm name="release_add" description="Service Plugin Release Add"/>
    <perm name="release_edit" description="Service Plugin Release Edit"/>
    <perm name="release_delete" description="Service Plugin Release Delete"/>
  </permissions>
  <registry>
    <table name="plugin"/>
    <table name="plugin_maintainer"/>
    <table name="plugin_release"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Plugin">
        <file name="Form.php" md5="724dcc0825aaf0f6232f9490cfaafdef"/>
        <file name="Handler.php" md5="da3bf9ed608408e636f9d3d5a4220931"/>
        <dir name="Maintainer">
          <file name="Form.php" md5="677a9e0f90c4c6408831106bbd44ccca"/>
          <file name="Handler.php" md5="3822bcaa1aa4edda033a16b23e7c88f1"/>
          <file name="Record.php" md5="a9f2591098c72110ba9dc199df1c443e"/>
          <file name="Table.php" md5="847856707cd5c9531e4f3ba7b9daaa3a"/>
        </dir>
        <file name="Record.php" md5="b80ef7569dcd2e3560703e5e7539e532"/>
        <dir name="Release">
          <file name="Form.php" md5="835815c6519bba3a3aecd128dab3422d"/>
          <file name="Handler.php" md5="ae3149f0ccf0f0674640868183621458"/>
          <file name="Record.php" md5="c7038a853057ae60e35f617e523be6c5"/>
          <file name="Table.php" md5="db284691303b340cbfa397819b76c827"/>
        </dir>
        <file name="Table.php" md5="6dbbf085d114b8f964e84a370b1ce78e"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.plugin}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `status` INT(10) NOT NULL,
  `urlTitle` VARCHAR(128) NOT NULL,
  `title` VARCHAR(128) NOT NULL,
  `description` TEXT NOT NULL,
  `rateUp` INT(10) NOT NULL DEFAULT '0',
  `rateDown` INT(10) NOT NULL DEFAULT '0',
  `releaseDate` DATETIME NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.plugin_maintainer}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `pluginId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pluginUserId` (`pluginId`,`userId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.plugin_release}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pluginId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `status` ENUM('STABLE','BETA','ALPHA') NOT NULL,
  `version` VARCHAR(32) NOT NULL,
  `href` VARCHAR(256) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[INSERT INTO `{table.core_content_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index'),
({service.id}, 'view');]]></query>
    <query><![CDATA[INSERT INTO `{table.core_user_activity_template}` (`type`, `verb`, `table`, `path`, `summary`) VALUES
('INSERT', 'add', 'amun_service_plugin_release', 'view?id={record.id}', '<p><a href="{user.profileUrl}">{user.name}</a> has released version {record.version} ({record.status})</p>');]]></query>
  </database>
</service>
