<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="00917972d1bf89bbc3116b396d8255baffeb9339">
  <status>system</status>
  <name>googleproject</name>
  <description>Gateway to receive googleproject commits</description>
  <path>/googleproject</path>
  <namespace>googleproject</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/googleproject</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/googleproject</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/googleproject/author</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/author</uri>
    </service>
  </api>
  <activity>
    <template type="INSERT" verb="add" table="googleproject_commit" path=""><![CDATA[
<p><a href="{user.profileUrl}">{user.name}</a> has commited <a href="{record.url}">r{record.revision}</a></p><blockquote>{record.message}</blockquote>
]]></template>
  </activity>
  <permissions>
    <perm name="view" description="Service Googleproject View"/>
    <perm name="add" description="Service Googleproject Add"/>
    <perm name="edit" description="Service Googleproject Edit"/>
    <perm name="delete" description="Service Googleproject Delete"/>
    <perm name="author_view" description="Service Googleproject Author View"/>
    <perm name="author_add" description="Service Googleproject Author Add"/>
    <perm name="author_edit" description="Service Googleproject Author Edit"/>
    <perm name="author_delete" description="Service Googleproject Author Delete"/>
  </permissions>
  <registry>
    <table name="googleproject"/>
    <table name="googleproject_commit"/>
    <table name="googleproject_author"/>
  </registry>
  <event>
    <publisher name="googleproject.commit" description="Notifies if a commit was made"/>
    <listener name="googleproject.commit" class="AmunService_Googleproject_CommitListener"/>
  </event>
  <library>
    <dir name="AmunService">
      <dir name="Googleproject">
        <dir name="Author">
          <file name="Form.php" md5="75ad7594b6ad2e2435c46a81f3c8a309"/>
          <file name="Handler.php" md5="8f677a3e47a57e315483f2ef2a420bb2"/>
          <file name="Record.php" md5="202d831a983f8a38f0e6de6735ecf178"/>
          <file name="Table.php" md5="d5d8e26dc1f599838b974dd2c1b8b840"/>
        </dir>
        <dir name="Commit">
          <file name="Handler.php" md5="9c77a5f4350cc626b59a0c36d1eb89c3"/>
          <file name="Record.php" md5="620b2a6f0cd7a49ecf54eeab0b36b5a7"/>
          <file name="Table.php" md5="977b872f08c201e365b21c9987eae7a4"/>
        </dir>
        <file name="CommitListener.php" md5="8921652e76c1ea6bf895d8589a2082cd"/>
        <file name="Form.php" md5="627092cd8d183e7453b72271bf79b677"/>
        <file name="Handler.php" md5="ec95cccc377beb842fc9a9bf7ac1198f"/>
        <file name="Record.php" md5="100156ee9bd2312f4f071ed3d0f0cf14"/>
        <file name="Table.php" md5="388185156285cfbce4c0d7bfa36bdae3"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.googleproject}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `userId` INT(10) NOT NULL,
  `name` VARCHAR(32) NOT NULL,
  `secret` VARCHAR(128) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.googleproject_commit}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36),
  `projectId` INT(10),
  `authorId` INT(10),
  `revision` INT(10),
  `url` VARCHAR(256),
  `message` VARCHAR(512),
  `commitDate` DATETIME,
  `date` DATETIME,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.googleproject_author}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` INT(10),
  `name` VARCHAR(32),
  `date` DATETIME,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
