<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="8585e7de488d4814b5c3ceba38a9042f46f0a5ac">
  <status>normal</status>
  <name>googleproject</name>
  <path>/googleproject</path>
  <namespace>googleproject</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/googleproject</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/googleproject</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/googleproject/author</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/author</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Service Googleproject View"/>
    <perm name="add" description="Service Googleproject Add"/>
    <perm name="edit" description="Service Googleproject Edit"/>
    <perm name="delete" description="Service Googleproject Delete"/>
    <perm name="author_view" description="Service Googleproject Author View"/>
    <perm name="author_add" description="Service Googleproject Author Add"/>
    <perm name="author_edit" description="Service Googleproject Author Edit"/>
    <perm name="author_delete" description="Service Googleproject Author Delete"/>
  </permissions>
  <registry>
    <table name="googleproject"/>
    <table name="googleproject_commit"/>
    <table name="googleproject_author"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Googleproject">
        <dir name="Author">
          <file name="Form.php" md5="09c1f2a31321c75db78242bb1f17983a"/>
          <file name="Handler.php" md5="8f677a3e47a57e315483f2ef2a420bb2"/>
          <file name="Record.php" md5="202d831a983f8a38f0e6de6735ecf178"/>
          <file name="Table.php" md5="d5d8e26dc1f599838b974dd2c1b8b840"/>
        </dir>
        <dir name="Commit">
          <file name="Handler.php" md5="e01caff72ffb621051680b2aeffe1180"/>
          <file name="Record.php" md5="db6435904ff90fa162bd1db672c7db00"/>
          <file name="Table.php" md5="977b872f08c201e365b21c9987eae7a4"/>
        </dir>
        <file name="Form.php" md5="2d3c7eb5f74679d17f94750268b4bc35"/>
        <file name="Handler.php" md5="f7e0d4ea9a82775ae21d3375947565e1"/>
        <file name="Record.php" md5="4c35a23adeaf12a42108c28e528744ac"/>
        <file name="Table.php" md5="0aa9856c65af1b08b9e69bf78615a3fe"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.googleproject}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `name` VARCHAR(32) NOT NULL,
  `secret` VARCHAR(128) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.googleproject_commit}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36),
  `projectId` INT(10),
  `authorId` INT(10),
  `revision` INT(10),
  `url` VARCHAR(256),
  `message` VARCHAR(512),
  `commitDate` DATETIME,
  `date` DATETIME,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.googleproject_author}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` INT(10),
  `name` VARCHAR(32),
  `date` DATETIME,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[INSERT INTO `{table.core_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index'),
({service.id}, 'view');]]></query>
    <query><![CDATA[INSERT INTO `{table.user_activity_template}` (`type`, `verb`, `table`, `path`, `summary`) VALUES
('INSERT', 'add', '{config.table_prefix}googleproject_commit', '', '<p><a href="{user.profileUrl}">{user.name}</a> has commited <a href="{record.url}">r{record.revision}</a></p><blockquote>{record.message}</blockquote>');]]></query>
  </database>
</service>
