<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org">
  <status>system</status>
  <path>/core</path>
  <namespace>AmunService\Core</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/core</type>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/core/service</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/service</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/core/approval</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/approval</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/core/approval/record</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/approval/record</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/core/host</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/host</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/core/registry</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/registry</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Core view"/>
    <perm name="add" description="Core add"/>
    <perm name="edit" description="Core edit"/>
    <perm name="delete" description="Core delete"/>
    <perm name="service_view" description="Core Service view"/>
    <perm name="service_add" description="Core Service add"/>
    <perm name="service_edit" description="Core Service edit"/>
    <perm name="service_delete" description="Core Service delete"/>
    <perm name="approval_view" description="Core Approval view"/>
    <perm name="approval_add" description="Core Approval add"/>
    <perm name="approval_edit" description="Core Approval edit"/>
    <perm name="approval_delete" description="Core Approval delete"/>
    <perm name="approval_record_view" description="Core Approval Record view"/>
    <perm name="approval_record_add" description="Core Approval Record add"/>
    <perm name="approval_record_edit" description="Core Approval Record edit"/>
    <perm name="approval_record_delete" description="Core Approval Record delete"/>
    <perm name="host_view" description="Core Host view"/>
    <perm name="host_add" description="Core Host add"/>
    <perm name="host_edit" description="Core Host edit"/>
    <perm name="host_delete" description="Core Host delete"/>
    <perm name="registry_view" description="Core Registry view"/>
    <perm name="registry_add" description="Core Registry add"/>
    <perm name="registry_edit" description="Core Registry edit"/>
    <perm name="registry_delete" description="Core Registry delete"/>
  </permissions>
  <registry>
    <table name="core_service"/>
    <table name="core_service_option"/>
    <table name="core_approval"/>
    <table name="core_approval_record"/>
    <table name="core_assoc"/>
    <table name="core_host"/>
    <table name="core_host_request"/>
    <table name="core_registry"/>
    <param name="title" value="" type="STRING"/>
    <param name="sub_title" value="" type="STRING"/>
    <param name="anonymous_user" value="" type="INTEGER"/>
    <param name="session_expire" value="1800" type="INTEGER"/>
    <param name="template_dir" value="../template/default" type="STRING"/>
    <param name="default_user_group" value="" type="INTEGER"/>
    <param name="default_page" value="" type="STRING"/>
    <param name="default_timezone" value="UTC" type="STRING" class="DateTimeZone"/>
    <param name="format_datetime" value="d M. Y, H:i" type="STRING"/>
    <param name="format_date" value="d. F Y" type="STRING"/>
    <param name="install_date" value="" type="STRING"/>
    <param name="input_limit" value="16" type="INTEGER"/>
    <param name="input_interval" value="PT30M" type="STRING"/>
    <param name="pw_alpha" value="4" type="INTEGER"/>
    <param name="pw_numeric" value="2" type="INTEGER"/>
    <param name="pw_special" value="0" type="INTEGER"/>
  </registry>
  <event>
    <publisher name="core.service_install" description="Notifies if a service gets installed"/>
    <publisher name="core.record_change" description="Notifies if a record has changed"/>
  </event>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.core_service}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `status` int(10) NOT NULL,
  `source` varchar(256) NOT NULL,
  `autoloadPath` varchar(256) NOT NULL,
  `config` varchar(256) NOT NULL,
  `name` varchar(64) NOT NULL,
  `path` varchar(256) NOT NULL,
  `namespace` varchar(64) NOT NULL,
  `type` varchar(256) NOT NULL,
  `link` varchar(256) NOT NULL,
  `license` varchar(256) NOT NULL,
  `version` varchar(16) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.core_approval}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `table` varchar(64) NOT NULL,
  `field` varchar(32) NOT NULL DEFAULT '',
  `value` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.core_approval_record}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` int(10) NOT NULL,
  `type` enum('INSERT','UPDATE','DELETE') NOT NULL,
  `table` varchar(64) NOT NULL,
  `record` text NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.core_assoc}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `opEndpoint` varchar(256) NOT NULL,
  `assocHandle` varchar(512) NOT NULL,
  `assocType` enum('HMAC-SHA1','HMAC-SHA256') NOT NULL,
  `sessionType` enum('DH-SHA1','DH-SHA256') NOT NULL,
  `secret` varchar(256) NOT NULL,
  `expires` int(10) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.core_host}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `status` int(10) NOT NULL,
  `name` varchar(256) NOT NULL,
  `consumerKey` varchar(40) NOT NULL,
  `consumerSecret` varchar(40) NOT NULL,
  `url` varchar(256) NOT NULL,
  `template` varchar(256) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.core_host_request}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `hostId` int(10) NOT NULL,
  `userId` int(10) NOT NULL,
  `ip` varchar(40) NOT NULL,
  `token` varchar(40) NOT NULL,
  `tokenSecret` varchar(40) NOT NULL,
  `expire` varchar(25) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.core_registry}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `name` varchar(64) NOT NULL,
  `type` enum('STRING','INTEGER','FLOAT','BOOLEAN') NOT NULL,
  `class` varchar(64) DEFAULT NULL,
  `value` varchar(128) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8]]></query>
  </database>
</service>
