<?xml version="1.0" encoding="UTF-8"?>
<service>
  <status>system</status>
  <path>/media</path>
  <namespace>AmunService\Media</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/media</type>
  <registry>
    <table name="media"/>
    <param name="upload_size" value="4194304" type="INTEGER"/>
    <param name="path" value="../cache" type="STRING"/>
  </registry>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.media}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `globalId` varchar(36) NOT NULL,
  `rightId` int(10) DEFAULT NULL,
  `name` varchar(128) NOT NULL,
  `path` varchar(320) NOT NULL,
  `type` enum('application','audio','text','image','video') NOT NULL,
  `size` int(10) NOT NULL,
  `mimeType` varchar(64) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`),
  UNIQUE KEY `path` (`path`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/media</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Media View"/>
    <perm name="add" description="Media Add"/>
    <perm name="edit" description="Media Edit"/>
    <perm name="delete" description="Media Delete"/>
  </permissions>
</service>
