<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="86e70103d05ffd6e4efce80796155443fea228ae">
  <status>normal</status>
  <name>forum</name>
  <type>http://ns.amun-project.org/2011/amun/service/forum</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <required>
    <service>comment</service>
  </required>
  <library>
    <dir name="Amun">
      <dir name="Service">
        <dir name="Forum">
          <file name="Form.php" md5="ba1f525576d6b1db528270dd413d0f13"/>
          <file name="Handler.php" md5="84da93b47c7cdfb9de536a18b4881ef7"/>
          <file name="Table.php" md5="8ad18bba8c7cdc29f16bd2fc5c23ff23"/>
        </dir>
        <file name="Forum.php" md5="3ec14600349254431e9377eaf1a5989a"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[INSERT INTO `{table.amun_system_registry}` (`name`, `type`, `value`) VALUES
('table.amun_service_forum', 'STRING', '{config.table_prefix}service_forum');]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.amun_service_forum}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `sticky` TINYINT(1) NOT NULL DEFAULT '0',
  `closed` TINYINT(1) NOT NULL DEFAULT '0',
  `urlTitle` VARCHAR(128) NOT NULL,
  `title` VARCHAR(128) NOT NULL,
  `text` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query storeID="content_api"><![CDATA[INSERT INTO `{table.amun_content_api}` (`serviceId`, `priority`, `endpoint`) VALUES
({service.id}, 0, 'service/forum');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_api_type}` (`apiId`, `type`) VALUES
({id.content_api}, '{service.type}'),
({id.content_api}, 'http://ns.amun-project.org/2011/amun/data/1.0');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index'),
({service.id}, 'view');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_user_activity_template}` (`type`, `verb`, `table`, `path`, `summary`) VALUES
('INSERT', 'add', 'amun_service_forum', 'view?id={record.id}', '<p><a href="{user.profileUrl}">{user.name}</a> has created a <a href="{object.url}">thread</a></p><blockquote>{record.text}</blockquote>');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_user_right}` (`name`, `description`) VALUES
('service_forum_view', 'Service Forum view'),
('service_forum_add', 'Service Forum add'),
('service_forum_edit', 'Service Forum edit'),
('service_forum_delete', 'Service Forum delete'),
('service_forum_sticky', 'Service Forum sticky'),
('service_forum_close', 'Service Forum close'),
('service_forum_comment_add', 'Service Forum comment add');]]></query>
    <if hasService="my">
      <query><![CDATA[INSERT INTO `{table.amun_service_my_notify_service}` (`table`, `title`) VALUES
('amun_service_forum', 'Forum');]]></query>
    </if>
  </database>
</service>
