
body
{
	font-size:1em;
	background-color:#EEEEEE;
}

.container
{
	margin-top:32px;
	border:2px solid #999999;
	background-color:#FFFFFF;
	padding:12px;
}

.container legend
{
	font-weight:bold;
}

.container label
{
	font-weight:bold;
}

.progress
{
	background-color:#ccc;
	background-image:none;
}

#progressStatus
{
	font-size:0.8em;
	text-indent:4px;
	position:absolute;
	color:#fff;
}

#progressStatus a
{
	color:#fff;
	text-decoration:none;
	border-bottom:1px dotted #fff;
}

#console
{
	width:90%;
	height:100px;
}

