<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="b4c60a41d2affa101ae2a590ae9016841323f7a4">
  <status>system</status>
  <name>swagger</name>
  <description>Provides an API swagger endpoint wich can be used by i.e. swagger-ui to display all available APIs</description>
  <path>/swagger</path>
  <namespace>swagger</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/swagger</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/swagger</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Swagger View"/>
  </permissions>
</service>
