
div.amun-service-plugin
{
}

div.amun-service-plugin-search
{
}

div.amun-service-plugin-search select
{
	width:80px;
}

div.amun-service-plugin-entry
{
}

div.amun-service-plugin-meta
{
}

div.amun-service-plugin-meta ul
{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

div.amun-service-plugin-meta li
{
	margin:0px;
	margin-bottom:6px;
}
