<?xml version="1.0" encoding="UTF-8"?>
<service>
  <status>system</status>
  <path>/user</path>
  <namespace>AmunService\User</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/user</type>
  <event>
    <listener name="core.record_change" class="\AmunService\User\Activity\RecordListener"/>
    <listener name="core.service_install" class="\AmunService\User\Activity\ConfigListener"/>
    <listener name="core.service_install" class="\AmunService\User\Right\ConfigListener"/>
  </event>
  <registry>
    <table name="user_account"/>
    <table name="user_activity"/>
    <table name="user_activity_receiver"/>
    <table name="user_activity_template"/>
    <table name="user_friend"/>
    <table name="user_friend_group"/>
    <table name="user_group"/>
    <table name="user_group_right"/>
    <table name="user_right"/>
  </registry>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.user_account}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `globalId` varchar(36) NOT NULL,
  `groupId` int(10) NOT NULL,
  `hostId` int(10) NOT NULL DEFAULT '0',
  `countryId` int(10) NOT NULL,
  `status` int(10) NOT NULL,
  `identity` varchar(40) NOT NULL,
  `name` varchar(32) NOT NULL,
  `pw` varchar(40) NOT NULL,
  `email` varchar(64) DEFAULT NULL,
  `token` varchar(40) NOT NULL,
  `ip` varchar(40) NOT NULL,
  `gender` enum('male','female','undisclosed') NOT NULL DEFAULT 'undisclosed',
  `profileUrl` varchar(255) NOT NULL,
  `thumbnailUrl` varchar(255) DEFAULT NULL,
  `longitude` double NOT NULL DEFAULT '0',
  `latitude` double NOT NULL DEFAULT '0',
  `timezone` varchar(32) NOT NULL DEFAULT 'UTC',
  `lastSeen` datetime NOT NULL,
  `updated` datetime NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `identity` (`identity`),
  UNIQUE KEY `token` (`token`),
  UNIQUE KEY `hostIdName` (`hostId`,`name`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.user_activity}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `globalId` varchar(36) NOT NULL,
  `parentId` int(10) NOT NULL DEFAULT '0',
  `userId` int(10) NOT NULL,
  `scope` int(10) NOT NULL DEFAULT '0',
  `verb` enum('post','add','cancel','checkin','delete','favorite','follow','give','ignore','invite','join','leave','like','make-friend','play','receive','remove','remove-friend','request-friend','rsvp-maybe','rsvp-no','rsvp-yes','save','share','stop-following','tag','unfavorite','unlike','unsave','update') NOT NULL,
  `object` text NOT NULL,
  `summary` text NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.user_activity_receiver}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `status` int(10) NOT NULL DEFAULT '1',
  `activityId` int(10) NOT NULL,
  `userId` int(10) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.user_activity_template}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `type` enum('INSERT','UPDATE','DELETE') NOT NULL,
  `verb` enum('post','add','cancel','checkin','delete','favorite','follow','give','ignore','invite','join','leave','like','make-friend','play','receive','remove','remove-friend','request-friend','rsvp-maybe','rsvp-no','rsvp-yes','save','share','stop-following','tag','unfavorite','unlike','unsave','update') NOT NULL,
  `table` varchar(64) NOT NULL,
  `path` varchar(255) NOT NULL,
  `summary` text NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `type_table` (`type`,`table`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.user_friend}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `status` int(10) NOT NULL,
  `groupId` int(10) NOT NULL DEFAULT '0',
  `userId` int(10) NOT NULL,
  `friendId` int(10) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `userFriendId` (`userId`,`friendId`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.user_friend_group}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` int(10) NOT NULL,
  `title` varchar(64) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.user_group}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `title` varchar(32) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.user_group_right}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `groupId` int(10) NOT NULL,
  `rightId` int(10) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `groupRightId` (`groupId`,`rightId`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.user_right}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `serviceId` int(10) NOT NULL,
  `name` varchar(64) NOT NULL,
  `description` varchar(128) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii]]></query>
  </database>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/user/account</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/account</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/user/activity</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/activity</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2012/amun/user/activity/message/1.0</type>
      <uri>/activity/message</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/user/friend</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/friend</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/user/friend/relation/1.0</type>
      <uri>/friend/relation</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/user/friend/group</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/friend/group</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/user/group</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/group</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/user/group/right</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/group/right</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/user/right</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/right</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="User view"/>
    <perm name="add" description="User add"/>
    <perm name="edit" description="User edit"/>
    <perm name="delete" description="User delete"/>
    <perm name="account_view" description="User Account view"/>
    <perm name="account_add" description="User Account add"/>
    <perm name="account_edit" description="User Account edit"/>
    <perm name="account_delete" description="User Account delete"/>
    <perm name="activity_view" description="User Activity view"/>
    <perm name="activity_add" description="User Activity add"/>
    <perm name="activity_edit" description="User Activity edit"/>
    <perm name="activity_delete" description="User Activity delete"/>
    <perm name="activity_receiver_view" description="User Activity Receiver view"/>
    <perm name="activity_receiver_add" description="User Activity Receiver add"/>
    <perm name="activity_receiver_edit" description="User Activity Receiver edit"/>
    <perm name="activity_receiver_delete" description="User Activity Receiver delete"/>
    <perm name="friend_view" description="User Friend view"/>
    <perm name="friend_add" description="User Friend add"/>
    <perm name="friend_edit" description="User Friend edit"/>
    <perm name="friend_delete" description="User Friend delete"/>
    <perm name="friend_group_view" description="User Friend Group view"/>
    <perm name="friend_group_add" description="User Friend Group add"/>
    <perm name="friend_group_edit" description="User Friend Group edit"/>
    <perm name="friend_group_delete" description="User Friend Group delete"/>
    <perm name="group_view" description="User Group view"/>
    <perm name="group_add" description="User Group add"/>
    <perm name="group_edit" description="User Group edit"/>
    <perm name="group_delete" description="User Group delete"/>
    <perm name="group_right_view" description="User Group Right view"/>
    <perm name="group_right_add" description="User Group Right add"/>
    <perm name="group_right_edit" description="User Group Right edit"/>
    <perm name="group_right_delete" description="User Group Right delete"/>
    <perm name="right_view" description="User Right view"/>
    <perm name="right_add" description="User Right add"/>
    <perm name="right_edit" description="User Right edit"/>
    <perm name="right_delete" description="User Right delete"/>
  </permissions>
</service>
