<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="1c4cd3d7fdbcc90dea630a5d644d474849c9d243">
  <status>system</status>
  <name>comment</name>
  <description>General comment system wich can be used to store comments refering to an id</description>
  <path>/comment</path>
  <namespace>comment</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/comment</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/comment</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Comment View"/>
    <perm name="add" description="Comment Add"/>
    <perm name="edit" description="Comment Edit"/>
    <perm name="delete" description="Comment Delete"/>
  </permissions>
  <registry>
    <table name="comment"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Comment">
        <file name="Form.php" md5="f7e03181ba3f5764b2ff4106d93cca9f"/>
        <file name="Handler.php" md5="26088ada053dd9203594ae5fb50d9eff"/>
        <file name="Record.php" md5="a34ead3a2bcea5e3fa652c111bc01ecb"/>
        <file name="Stream.php" md5="53929ec61188fdba25e2fe10eba2b413"/>
        <file name="Table.php" md5="e1f0165d8a109881d2a13087ff057ebe"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.comment}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `refId` INT(10) NOT NULL,
  `text` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
