<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="5511cca8246819bdc6960d730fa1809e7e68cccf">
  <status>system</status>
  <name>comment</name>
  <description>General comment system wich can be used to store comments refering to an id</description>
  <path>/comment</path>
  <namespace>comment</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/comment</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/comment</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <activity>
    <template type="INSERT" verb="add" table="comment" path="view?id={record.refId}#comment-{record.id}"><![CDATA[
<p><a href="{user.profileUrl}">{user.name}</a> has created an <a href="{object.url}">comment</a></p><blockquote>{record.text}</blockquote>
]]></template>
  </activity>
  <permissions>
    <perm name="view" description="Comment View"/>
    <perm name="add" description="Comment Add"/>
    <perm name="edit" description="Comment Edit"/>
    <perm name="delete" description="Comment Delete"/>
  </permissions>
  <registry>
    <table name="comment"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Comment">
        <file name="Form.php" md5="7641e65611953ce14439e8343e6fe9ca"/>
        <file name="Handler.php" md5="8a3d1361b05301c69aed16b0f17fbe8e"/>
        <file name="Record.php" md5="b8021e7d7961c78f4a92954de137c516"/>
        <file name="Stream.php" md5="b73efe84c087881cd8e1f0f939500383"/>
        <file name="Table.php" md5="27a5983142eccfa85b9afdb4851133a5"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.comment}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `refId` INT(10) NOT NULL,
  `text` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
