<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="6c4f75b818e8e3802bbdc58b2053faebc4fed702">
  <status>system</status>
  <name>comment</name>
  <description>General comment system wich can be used to store comments refering to an id</description>
  <path>/comment</path>
  <namespace>comment</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/comment</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/comment</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Comment View"/>
    <perm name="add" description="Comment Add"/>
    <perm name="edit" description="Comment Edit"/>
    <perm name="delete" description="Comment Delete"/>
  </permissions>
  <registry>
    <table name="comment"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Comment">
        <file name="Form.php" md5="6e8abab22fa91332dee2d53f0ddd2bcd"/>
        <file name="Handler.php" md5="3613e5f7c86ceb19af1ef6e8500884a1"/>
        <file name="Record.php" md5="6c682e98d2fb074f015c9401dc3c3953"/>
        <file name="Table.php" md5="d05581c098e8fd814ffa88f9c5f1a84e"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.comment}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `refId` INT(10) NOT NULL,
  `text` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
