<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="2ae68b86f6e1b13663c6f20f9c08f6ed1dcd6993">
  <status>normal</status>
  <name>php</name>
  <description>Service to embed PHP code in a page</description>
  <path>/php</path>
  <namespace>php</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/php</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/php</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Php View"/>
    <perm name="add" description="Php Add"/>
    <perm name="edit" description="Php Edit"/>
    <perm name="delete" description="Php Delete"/>
  </permissions>
  <navigation>
    <option name="index"/>
  </navigation>
  <registry>
    <table name="php"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Php">
        <file name="Form.php" md5="524370ef9c81c56ab9a3437a5c341a6a"/>
        <file name="Handler.php" md5="7cc2f37af5fbe154f495dce10bbf93d6"/>
        <file name="Record.php" md5="770b6326f9235d6aae56fbb6d504b838"/>
        <file name="Table.php" md5="af9a0953dacc1647cb5d5493d1d0bc82"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.php}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `content` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
