<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="0d8ae008fd7801f6aa3b3346b582884c21efd5ba">
  <status>normal</status>
  <name>php</name>
  <path>/service/php</path>
  <namespace>Amun_Service_Php</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/php</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <permissions>
    <perm name="view" description="Service Php View" />
    <perm name="add" description="Service Php Add" />
    <perm name="edit" description="Service Php Edit" />
    <perm name="delete" description="Service Php Delete" />
  </permissions>
  <library>
    <dir name="Amun">
      <dir name="Service">
        <dir name="Php">
          <file name="Form.php" md5="dda8f6b1867351381828a9da065f79a4"/>
          <file name="Handler.php" md5="3c3904dd20d2bb1756b3a2a04ffad891"/>
          <file name="Table.php" md5="7ab8b0421bb35f8c05aa94be590d559a"/>
        </dir>
        <file name="Php.php" md5="986d1cb90e07fdddeefaab75916f4ece"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[INSERT INTO `{table.amun_system_registry}` (`name`, `type`, `value`) VALUES
('table.amun_service_php', 'STRING', '{config.table_prefix}service_php');]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.amun_service_php}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `content` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query storeID="content_api"><![CDATA[INSERT INTO `{table.amun_content_api}` (`serviceId`, `priority`, `endpoint`) VALUES
({service.id}, 0, 'service/php');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_api_type}` (`apiId`, `type`) VALUES
({id.content_api}, '{service.type}'),
({id.content_api}, 'http://ns.amun-project.org/2011/amun/data/1.0');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index');]]></query>
  </database>
</service>
