<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org">
  <status>normal</status>
  <path>/php</path>
  <namespace>AmunService\Php</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/php</type>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/php</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Php View"/>
    <perm name="add" description="Php Add"/>
    <perm name="edit" description="Php Edit"/>
    <perm name="delete" description="Php Delete"/>
  </permissions>
  <navigation>
    <option name="index"/>
  </navigation>
  <registry>
    <table name="php"/>
  </registry>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.php}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `content` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
