<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org">
  <status>system</status>
  <path>/log</path>
  <namespace>AmunService\Log</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/log</type>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/log</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Log view"/>
  </permissions>
  <registry>
    <table name="log"/>
  </registry>
  <event>
    <listener name="core.record_change" class="\AmunService\Log\RecordListener"/>
  </event>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.log}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` int(10) NOT NULL,
  `refId` int(10) NOT NULL,
  `type` enum('INSERT','UPDATE','DELETE') NOT NULL,
  `table` varchar(64) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii]]></query>
  </database>
</service>
