<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="f80f9d9e58fb1b6be5c89e57ac87b678a12961b3">
  <status>system</status>
  <name>log</name>
  <description>Service wich logs every record insert, update or delete</description>
  <path>/log</path>
  <namespace>log</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/log</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/log</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Log view"/>
  </permissions>
  <registry>
    <table name="log"/>
  </registry>
  <event>
    <listener name="core.record_change" class="\AmunService\Log\RecordListener"/>
  </event>
  <library>
    <dir name="AmunService">
      <dir name="Log">
        <file name="Form.php" md5="f8fb0090424c09a9f5a1661ba4d92d55"/>
        <file name="Handler.php" md5="111e050a4e43ab4626b66d17bb92152a"/>
        <file name="RecordListener.php" md5="009e8563e9dba93cb0103ffa41ee9e25"/>
        <file name="Record.php" md5="55df50cfb46d0a7b2bb1f0f5efc63e44"/>
        <file name="Table.php" md5="95a2f016e4143b8ce1e6ab61456fa731"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.log}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` int(10) NOT NULL,
  `refId` int(10) NOT NULL,
  `type` enum('INSERT','UPDATE','DELETE') NOT NULL,
  `table` varchar(64) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii]]></query>
  </database>
</service>
