<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="fef8908872f249ccf087d141178078d545568a61">
  <status>system</status>
  <name>webdav</name>
  <description>Service wich offers an webdav API. Every service can provide a custom DAV node wich represents the page</description>
  <path>/webdav</path>
  <namespace>webdav</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/webdav</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/webdav</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Webdav View"/>
  </permissions>
  <library>
    <dir name="AmunService">
      <dir name="Webdav">
        <file name="CollectionAbstract.php" md5="80f889160e888383d035fd63856236a0"/>
        <file name="FileAbstract.php" md5="749e00567a9fc2aa2d8ec4908f6e2181"/>
        <file name="Page.php" md5="b0b742e032a652eb62857d3abb2000a3"/>
        <file name="RecordFile.php" md5="fd1917be17daefea883d81abf3abb3e1"/>
        <dir name="Service">
          <file name="News.php" md5="9fadf0020b6c454ac609c358d2278cfd"/>
          <file name="Page.php" md5="70b559a433ce5b78804d54f92786840b"/>
        </dir>
      </dir>
    </dir>
    <dir name="Sabre">
      <dir name="CalDAV">
        <dir name="Backend">
          <file name="AbstractBackend.php" md5="8751433f388b62c044d06a1889f957ad"/>
          <file name="BackendInterface.php" md5="456bf3e06d8d0936f424d02850d3969b"/>
          <file name="NotificationSupport.php" md5="899b61ba0d22e9148b280f747ee946b9"/>
          <file name="PDO.php" md5="874efca4c1d48707f13f05885f96f9b1"/>
          <file name="SharingSupport.php" md5="79303315384bd742f85556686b96f56d"/>
        </dir>
        <file name="Calendar.php" md5="a660f474ba9f0dedefa09575fe38de29"/>
        <file name="CalendarObject.php" md5="5821243c133042f0c52af08257287ce9"/>
        <file name="CalendarQueryParser.php" md5="abfb4f9af7b2e76debdc156d346ac345"/>
        <file name="CalendarQueryValidator.php" md5="8b4372189347a0327891fadcfbcc20e3"/>
        <file name="CalendarRootNode.php" md5="ea9c1920193164068effb63a1d929415"/>
        <dir name="Exception">
          <file name="InvalidComponentType.php" md5="7d553eb1bee93911b10f088bd20a7fb2"/>
        </dir>
        <file name="ICSExportPlugin.php" md5="530fdb2fdc9e88db3e41f5ea2b200e5d"/>
        <file name="ICalendar.php" md5="9cfe33e22a78b8a7481cf47789141e61"/>
        <file name="ICalendarObject.php" md5="8986cf1a04f8b60e1495ca9807e14611"/>
        <file name="IShareableCalendar.php" md5="dd555dbcb71e1c883f236136770bbc7a"/>
        <file name="ISharedCalendar.php" md5="a74707c24228ac0ab2aceb326dd09282"/>
        <dir name="Notifications">
          <file name="Collection.php" md5="47e07c84a4d1e2466aa9a229e20b9388"/>
          <file name="ICollection.php" md5="87b96a64ec530d3dd26b534575ea2f0e"/>
          <file name="INode.php" md5="316bed841b99e1d902fa31f0ccccc3f0"/>
          <file name="INotificationType.php" md5="3ddfd549bebcee4b3d865cf6a13074e8"/>
          <file name="Node.php" md5="0a4cce4e0140984f0ee51a5febf9dc69"/>
          <dir name="Notification">
            <file name="Invite.php" md5="7affa7d8ab81f324f078b840e42997d4"/>
            <file name="InviteReply.php" md5="29a2de8dc6c21b327ae9a6e5e7a2633d"/>
            <file name="SystemStatus.php" md5="b62b873666e5404f3dd41106143a9d25"/>
          </dir>
        </dir>
        <file name="Plugin.php" md5="2c32757ff7081e8d2e5af0418d4e61bd"/>
        <dir name="Principal">
          <file name="Collection.php" md5="59af553405728534bcc08ed29917974a"/>
          <file name="IProxyRead.php" md5="1c9ec2b7f3b191a0ee89930f34ecf597"/>
          <file name="IProxyWrite.php" md5="cf656156ce198a9f262d2f0702df8aa0"/>
          <file name="ProxyRead.php" md5="ce4873ef702a593e65b41b10c1d4d90d"/>
          <file name="ProxyWrite.php" md5="1679a3cb2f401c1fad59f5d4e4306dbd"/>
          <file name="User.php" md5="0f072fa672373a1b9c9a5b4b0d33dd16"/>
        </dir>
        <dir name="Property">
          <file name="AllowedSharingModes.php" md5="9e8cd01e53e01f9a100f1b0615dbfecb"/>
          <file name="Invite.php" md5="65dfcc686bb244ceaded20c13db3c57b"/>
          <file name="ScheduleCalendarTransp.php" md5="4676b4591413afa9ec6128ee1723ffdc"/>
          <file name="SupportedCalendarComponentSet.php" md5="2e557bf1a5b79fff76f2e5d8fd393eb7"/>
          <file name="SupportedCalendarData.php" md5="8773cf5d4a9413405ca02e0654111576"/>
          <file name="SupportedCollationSet.php" md5="511443011ec44b99ee13f8202c03bac0"/>
        </dir>
        <dir name="Schedule">
          <file name="IMip.php" md5="9f2e517a825ca75d74623baacf2a3f72"/>
          <file name="IOutbox.php" md5="ce562341857e4b27d3564075a8d81bc8"/>
          <file name="Outbox.php" md5="0871b696f9544aba53cb036575fce331"/>
        </dir>
        <file name="ShareableCalendar.php" md5="1a15a3a79364843003e8b243815895a1"/>
        <file name="SharedCalendar.php" md5="2829b7d7f4096b237a2c49629f5c93bf"/>
        <file name="SharingPlugin.php" md5="0c5114bcb44d41f2c6c01631bd79e6b4"/>
        <file name="UserCalendars.php" md5="06348653a9fbb4fe047e1010a54033b3"/>
        <file name="Version.php" md5="b09037bfbbd231ba94b6657bee50afdf"/>
      </dir>
      <dir name="CardDAV">
        <file name="AddressBook.php" md5="7f03466239157784ebb7cb5d349bf16f"/>
        <file name="AddressBookQueryParser.php" md5="66cef87138412b55887897da78023b93"/>
        <file name="AddressBookRoot.php" md5="9810f4edfbfad1df4ab9b60809a30400"/>
        <dir name="Backend">
          <file name="AbstractBackend.php" md5="03b487fbeaeaae0f868f35aa9970f077"/>
          <file name="BackendInterface.php" md5="91d15923aecec4fceb722e2c4a31c72c"/>
          <file name="PDO.php" md5="36452d1af6058d517d6f2ec8fdcadfb9"/>
        </dir>
        <file name="Card.php" md5="4d3b1102e7aeeb6ab622935a8f33150d"/>
        <file name="IAddressBook.php" md5="6898416b1c90422d7f1fd3969a3b64c4"/>
        <file name="ICard.php" md5="adaaaaae1e44cd4457c2bb2664043e96"/>
        <file name="IDirectory.php" md5="29523336c79dee5d313684b09c99d60c"/>
        <file name="Plugin.php" md5="4f194e9d845050e9b61894a9f3c68da2"/>
        <dir name="Property">
          <file name="SupportedAddressData.php" md5="5151b4d4b2292ffda62008eb0e6e3231"/>
        </dir>
        <file name="UserAddressBooks.php" md5="7d7c0e8024585d8d56c2614690380571"/>
        <file name="VCFExportPlugin.php" md5="470aa9a1c7c478362528b836cc08b333"/>
        <file name="Version.php" md5="473653a50b31d3fcbbee17a478ede8d8"/>
      </dir>
      <dir name="DAV">
        <dir name="Auth">
          <dir name="Backend">
            <file name="AbstractBasic.php" md5="1438a5d79ca95c0284ca5f41f7b953c1"/>
            <file name="AbstractDigest.php" md5="757f17b554c2aa62250dc187b1a722d3"/>
            <file name="Apache.php" md5="ad1502fff32c867a553d99acd6da8611"/>
            <file name="BackendInterface.php" md5="4180e49e4b913e0f9c00849fa7180520"/>
            <file name="File.php" md5="b442a12c02d188d54046c87aa454c673"/>
            <file name="PDO.php" md5="e74edbe4882b8742eab5477e8e803151"/>
          </dir>
          <file name="Plugin.php" md5="bb5899d91f5496973df1de83c92abb0b"/>
        </dir>
        <dir name="Browser">
          <file name="GuessContentType.php" md5="06db124e7395419e12b9a4a7c04d7276"/>
          <file name="MapGetToPropFind.php" md5="b9806b5a52f3a3f25d1a6ec106b6f0a5"/>
          <file name="Plugin.php" md5="8c886f3257aaf6f162f2db6bfe14a0ff"/>
          <dir name="assets">
            <file name="favicon.ico" md5="ad382857669c26d08fc33b9b3c6af549"/>
            <dir name="icons">
              <file name="addressbook.png" md5="f5c828904bacecdbe429adf13cd8a5e6"/>
              <file name="calendar.png" md5="7e1dd7a6509acb397106b5f60ae0035b"/>
              <file name="card.png" md5="151077c627594e03774f4826858f5fa6"/>
              <file name="collection.png" md5="21eab3b0d660a5d89dc5b386fbc890a2"/>
              <file name="file.png" md5="188d68e38caf68ce5e6800ed6a7673c0"/>
              <file name="parent.png" md5="21eab3b0d660a5d89dc5b386fbc890a2"/>
              <file name="principal.png" md5="e83a65b76ee351e6644c6227d6253dec"/>
            </dir>
          </dir>
        </dir>
        <file name="Client.php" md5="87149f21cd68a4c5cd86e3f4d9a6b484"/>
        <file name="Collection.php" md5="0d5cf39b1c62101ed29ce600aee8f3fe"/>
        <dir name="Exception">
          <file name="BadRequest.php" md5="7d74cb09265388999c87797101ae232e"/>
          <file name="Conflict.php" md5="afd25c439eef492c30afd9857c774d19"/>
          <file name="ConflictingLock.php" md5="cf041da5900b382fd72c40274fc19e33"/>
          <file name="FileNotFound.php" md5="1968bb8a670ff4653896c0eed3ada4ed"/>
          <file name="Forbidden.php" md5="5ffd41094cf8eca684405285d2770802"/>
          <file name="InsufficientStorage.php" md5="cdd73ccb9b4c4db53317726b2433fad6"/>
          <file name="InvalidResourceType.php" md5="3f29b5119202a8507f285eefe6154263"/>
          <file name="LockTokenMatchesRequestUri.php" md5="0e37c60f198e525d5a096287cd2570af"/>
          <file name="Locked.php" md5="7822d52e9363f4265da24a3310c6ef0f"/>
          <file name="MethodNotAllowed.php" md5="7fbfb39ae913a8b37074d11a7dd297f3"/>
          <file name="NotAuthenticated.php" md5="2ed554ed67db584cdc1c10ac3aade0de"/>
          <file name="NotFound.php" md5="f6b2027083d1eb4f2128da96ae87f7ee"/>
          <file name="NotImplemented.php" md5="8725f89f8a27950752164e11c6048434"/>
          <file name="PaymentRequired.php" md5="610cdf918578d42bc7535678d3368f7b"/>
          <file name="PreconditionFailed.php" md5="80e0af9db3abd66bc5a79bac681b92f6"/>
          <file name="ReportNotSupported.php" md5="9b4b403f2d8ec6e42210f8b206ab52c7"/>
          <file name="RequestedRangeNotSatisfiable.php" md5="70a61f4f8e9921fd0fa899b000563f19"/>
          <file name="ServiceUnavailable.php" md5="1fc6d18b3c207e3bc7206515e2c6665e"/>
          <file name="UnsupportedMediaType.php" md5="801bdf57230c4b048d6745bf33efc198"/>
        </dir>
        <file name="Exception.php" md5="dcdea6b74f79d6202519f8c3d5fb25a9"/>
        <dir name="FS">
          <file name="Directory.php" md5="d42be92d7586c56f5869d2db69fd5496"/>
          <file name="File.php" md5="7040a9465b0075dae75141901db9b990"/>
          <file name="Node.php" md5="6e3412517e0facb220eb1cf53dfc3214"/>
        </dir>
        <dir name="FSExt">
          <file name="Directory.php" md5="2a0277f98bec2e6f2e4e4ccbb2ed7439"/>
          <file name="File.php" md5="5e0c8c6f06133e3737f5dba682792d2b"/>
          <file name="Node.php" md5="c9a4bb7b7a12fd4c480f65985ea1fc57"/>
        </dir>
        <file name="File.php" md5="360adaf568b1b78000b9839c21d99a80"/>
        <file name="ICollection.php" md5="0038da12c1c86c873a0ff2d9eb65291e"/>
        <file name="IExtendedCollection.php" md5="9ad179121ee2dba7a98a0552d61944dc"/>
        <file name="IFile.php" md5="3fd35f23cba6b0d2dd00f3a10159e10d"/>
        <file name="INode.php" md5="741f5c1599d2b9630f7495c1828fa4b6"/>
        <file name="IProperties.php" md5="51f02b13f697d17992aa6db53aa0b3e5"/>
        <file name="IQuota.php" md5="56b8c4e0f94d90004680b1606e51fe5e"/>
        <dir name="Locks">
          <dir name="Backend">
            <file name="AbstractBackend.php" md5="a66a92d1950d36870ea1c41f6adf06fd"/>
            <file name="BackendInterface.php" md5="6dec0e9e8cb366ad5bdbb490801f239e"/>
            <file name="FS.php" md5="e7ecbef2694177d21919c9b7ea948ebe"/>
            <file name="File.php" md5="0c6db25c1fc61372caf61a98a9819f58"/>
            <file name="PDO.php" md5="bcb170ae9ee6579407967324fc52ab7a"/>
          </dir>
          <file name="LockInfo.php" md5="04e2cdc3d74aaab11e2991c3b76b0908"/>
          <file name="Plugin.php" md5="22a327369826d1a9d06f3bf20bbd3cf2"/>
        </dir>
        <dir name="Mount">
          <file name="Plugin.php" md5="d6368a051b8e2f60591387ffd2c90c4e"/>
        </dir>
        <file name="Node.php" md5="c8924fd24e933d420a1603f046657d93"/>
        <file name="ObjectTree.php" md5="191a9e2ee7a3ebf6061ac2536b25dc52"/>
        <dir name="PartialUpdate">
          <file name="IFile.php" md5="2c28fa4cdbac8f8dc4ad13daa901a613"/>
          <file name="Plugin.php" md5="278dbb986b6713964a0cbbd1fa821d25"/>
        </dir>
        <dir name="Property">
          <file name="GetLastModified.php" md5="137ef9251a1f5b5b6981fe6c110daeaa"/>
          <file name="Href.php" md5="3811fc9ce4b721449af0832ea1469b05"/>
          <file name="HrefList.php" md5="662130106310484e7c0e238ca271c335"/>
          <file name="IHref.php" md5="935d1d3722428281cdb7cd7d6b8f3659"/>
          <file name="LockDiscovery.php" md5="68b99856361091c1d066b411922e8a29"/>
          <file name="ResourceType.php" md5="5c0241d0053cb37f8222ee8e49390232"/>
          <file name="Response.php" md5="f978dc9b7d75bd61702ab59f2814ba5a"/>
          <file name="ResponseList.php" md5="74a86e0ba6f4ee47d8fa881cb251e318"/>
          <file name="SupportedLock.php" md5="aecde406f6090e392ff4c73ac6dc0d10"/>
          <file name="SupportedReportSet.php" md5="0cedfc80a2daefea5031af128cdb2626"/>
        </dir>
        <file name="Property.php" md5="91e1a886b36036d2b0abd77034c76346"/>
        <file name="PropertyInterface.php" md5="93b326cc26c26cb80dd5393343f9ad99"/>
        <file name="Server.php" md5="0fc70586def922f867285a2127d96d8c"/>
        <file name="ServerPlugin.php" md5="89e3c44c268e92ad8cca9881bcf99e28"/>
        <file name="SimpleCollection.php" md5="fae3edf8f5ec3c4518653899cf0f8234"/>
        <file name="SimpleFile.php" md5="e06ca360a9fe5fd12f3c59e148565ab5"/>
        <file name="StringUtil.php" md5="298e667b6b72eaa21af4f6269ce168ad"/>
        <file name="TemporaryFileFilterPlugin.php" md5="d3d5a4156ea0dcb732ef728589b56056"/>
        <dir name="Tree">
          <file name="Filesystem.php" md5="ba470faefc5816fad3a5752d40576e73"/>
        </dir>
        <file name="Tree.php" md5="ffa03d78e42c821bc47025609c6be9fd"/>
        <file name="URLUtil.php" md5="f6d5b202ea4de59c0498a33cfea7065e"/>
        <file name="UUIDUtil.php" md5="b9ad59553cd47d61eec5ebf0bda85e8f"/>
        <file name="Version.php" md5="0b6bf0cd0daef1e7d024f0e9f35f8f99"/>
        <file name="XMLUtil.php" md5="c5bec190373b69cb4ef45bcaeabf7715"/>
      </dir>
      <dir name="DAVACL">
        <file name="AbstractPrincipalCollection.php" md5="67745169095d5774dfe56c52b118064a"/>
        <dir name="Exception">
          <file name="AceConflict.php" md5="fd7d1fc63237f5346c51cfeb2ee49441"/>
          <file name="NeedPrivileges.php" md5="40f4886fbdca728e5a0837c78839de71"/>
          <file name="NoAbstract.php" md5="1e90e326f181d8a3b80a95d416e06e8b"/>
          <file name="NotRecognizedPrincipal.php" md5="d6c97d948a1431e3066f02ee633a4b6f"/>
          <file name="NotSupportedPrivilege.php" md5="fc302c6974b1153d39f914a6b06427b2"/>
        </dir>
        <file name="IACL.php" md5="e4ecad432a855c0b2265502f85a0207c"/>
        <file name="IPrincipal.php" md5="85ea7a0e3d34d4adb5bf40fb30af0e5f"/>
        <file name="IPrincipalCollection.php" md5="9c99856b9bad1073175ae8e474794b0b"/>
        <file name="Plugin.php" md5="9f77820c2e78661308670778200bd88d"/>
        <file name="Principal.php" md5="33237060c00633cfdae7467f465fe6b0"/>
        <dir name="PrincipalBackend">
          <file name="AbstractBackend.php" md5="17dc860fe0f909f4e8bcca2f60b3635d"/>
          <file name="BackendInterface.php" md5="8c27752ac433b57e26220b0ec41d995e"/>
          <file name="PDO.php" md5="d1784c0e7a6945564b6e2f9e55e4cece"/>
        </dir>
        <file name="PrincipalCollection.php" md5="194b577802ec70ddcd209a0f6eec08a2"/>
        <dir name="Property">
          <file name="Acl.php" md5="99da995f5c86aed743e714248442fb4c"/>
          <file name="AclRestrictions.php" md5="237a218f11d946de0f0b677742b073f1"/>
          <file name="CurrentUserPrivilegeSet.php" md5="4adb9edd660d58cb1513893df1f97901"/>
          <file name="Principal.php" md5="c48067a41e4264da55fe23af569398fc"/>
          <file name="SupportedPrivilegeSet.php" md5="fa1430c232105585e3d1091588c1761e"/>
        </dir>
        <file name="Version.php" md5="4f98be04aebd8f107ae5e5938cc847f6"/>
      </dir>
      <dir name="HTTP">
        <file name="AWSAuth.php" md5="1c18ca6bbbb88f37a529f969df7a2c53"/>
        <file name="AbstractAuth.php" md5="82c3c59d7e1cd65f351d693d075a8b47"/>
        <file name="BasicAuth.php" md5="dc653b233bf746c2ccec4bc84aec0360"/>
        <file name="DigestAuth.php" md5="868f2e6ecd4fcf949d8a56c1c2daae15"/>
        <file name="Request.php" md5="2eba8a9ad19897f28e6321c612cf81cf"/>
        <file name="Response.php" md5="37764d1750df3a3ba95b1435f0ac91ea"/>
        <file name="Util.php" md5="1ba7666c3bc7ec941873ea2d932b6dab"/>
        <file name="Version.php" md5="dfca333c59bff2492045ece6f7cfb3f9"/>
      </dir>
      <file name="autoload.php" md5="c31bade85842a46c8fd6a8b4a2a8cd7e"/>
    </dir>
  </library>
</service>
