<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="be81a15ccb88bf01763b6a0960885d03db3d6799">
  <status>system</status>
  <name>content</name>
  <description>Basic service wich handles pages and gadgets</description>
  <path>/content</path>
  <namespace>content</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/content</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/content/gadget</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/gadget</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/content/page</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/page</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/content/page/gadget</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/page/gadget</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/content/page/option</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/page/option</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Content view"/>
    <perm name="add" description="Content add"/>
    <perm name="edit" description="Content edit"/>
    <perm name="delete" description="Content delete"/>
    <perm name="gadget_view" description="Content Gadget view"/>
    <perm name="gadget_add" description="Content Gadget add"/>
    <perm name="gadget_edit" description="Content Gadget edit"/>
    <perm name="gadget_delete" description="Content Gadget delete"/>
    <perm name="page_view" description="Content Page view"/>
    <perm name="page_add" description="Content Page add"/>
    <perm name="page_edit" description="Content Page edit"/>
    <perm name="page_delete" description="Content Page delete"/>
    <perm name="page_gadget_view" description="Content Page Gadget view"/>
    <perm name="page_gadget_add" description="Content Page Gadget add"/>
    <perm name="page_gadget_edit" description="Content Page Gadget edit"/>
    <perm name="page_gadget_delete" description="Content Page Gadget delete"/>
    <perm name="page_option_view" description="Content Page Option view"/>
    <perm name="page_option_add" description="Content Page Option add"/>
    <perm name="page_option_edit" description="Content Page Option edit"/>
    <perm name="page_option_delete" description="Content Page Option delete"/>
  </permissions>
  <registry>
    <table name="content_gadget"/>
    <table name="content_page"/>
    <table name="content_page_gadget"/>
    <table name="content_page_option"/>
    <table name="content_page_right"/>
  </registry>
  <event>
    <listener name="lrdd.resource_discovery" class="\AmunService\Content\LrddListener"/>
  </event>
  <library>
    <dir name="AmunService">
      <dir name="Content">
        <dir name="Gadget">
          <dir name="Filter">
            <file name="Path.php" md5="8d49f739a379993bfc356a58c9879864"/>
          </dir>
          <file name="Form.php" md5="09ee6c57f848d5b2d5d52bf29bd98511"/>
          <file name="Handler.php" md5="eed3854d34e60bf31ca70a02a699dc2f"/>
          <file name="Record.php" md5="6fce5bc1bcbc959b334665049e22339e"/>
          <file name="Table.php" md5="560e481251c6a9e18909cc213fd42b15"/>
        </dir>
        <file name="LrddListener.php" md5="c21c4da3a68c2229a4bfd774a552d9ca"/>
        <dir name="Page">
          <dir name="Filter">
            <file name="Load.php" md5="098541889862c3e4ed03e7ca6314658e"/>
            <file name="ParentId.php" md5="5ee73095ffb202493426a0747d9f7c55"/>
            <file name="Status.php" md5="f64fc977b5f9fa51bf30b9c572550d54"/>
            <file name="Template.php" md5="b19b5c15c412f74cf1537943fbb15c7a"/>
            <file name="TitleExists.php" md5="1ee3306fd1046bca7db96582241b57a7"/>
          </dir>
          <file name="Form.php" md5="94fb4b3b81e21f853e441fa6e1bbf6f0"/>
          <dir name="Gadget">
            <file name="Form.php" md5="8453386b9c290bfebcd68509d6f44602"/>
            <file name="Handler.php" md5="ce455bf8900369b2abecf18e85696685"/>
            <file name="Record.php" md5="545af303f2d73b88115f05c67bc1c894"/>
            <file name="Table.php" md5="d8f9499b17e52117882aef2ea319e449"/>
          </dir>
          <file name="Handler.php" md5="7df632fc1bc181e65eaa376709684a02"/>
          <dir name="Option">
            <file name="Form.php" md5="dc6ba3b9d9cea2041dc42c52b6e51a67"/>
            <file name="Handler.php" md5="c47ded08b1841a0e64030d0e362bc77c"/>
            <file name="Record.php" md5="3f5a2b3119b201978c4e475f989e8999"/>
            <file name="Table.php" md5="721d4609e38984ba512525f6756e7c5c"/>
          </dir>
          <file name="Record.php" md5="a00f021b21ca2ff06d0fd8e92dd04b01"/>
          <file name="Table.php" md5="850f1f0a194bfac536001ccc76ff6ed4"/>
        </dir>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.content_gadget}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `globalId` varchar(36) NOT NULL,
  `serviceId` int(10) NOT NULL,
  `rightId` int(10) NOT NULL,
  `type` enum('inline','iframe','ajax') NOT NULL DEFAULT 'inline',
  `name` varchar(64) NOT NULL,
  `title` varchar(32) NOT NULL,
  `path` varchar(256) NOT NULL,
  `param` text,
  `cache` tinyint(1) NOT NULL,
  `expire` varchar(25) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.content_page}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `parentId` int(10) NOT NULL,
  `globalId` varchar(36) NOT NULL,
  `serviceId` int(10) NOT NULL,
  `rightId` int(10) NOT NULL,
  `status` int(10) NOT NULL,
  `load` int(10) NOT NULL DEFAULT '3',
  `sort` int(10) NOT NULL DEFAULT '0',
  `path` varchar(256) NOT NULL,
  `urlTitle` varchar(32) NOT NULL,
  `title` varchar(32) NOT NULL,
  `template` text NOT NULL,
  `description` varchar(256) NOT NULL,
  `keywords` varchar(256) NOT NULL,
  `cache` tinyint(1) NOT NULL,
  `expire` varchar(25) NOT NULL,
  `publishDate` datetime NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`),
  UNIQUE KEY `path` (`path`)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.content_page_gadget}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `pageId` int(10) NOT NULL,
  `gadgetId` int(10) NOT NULL,
  `sort` int(10) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `pageGadgetId` (`pageId`,`gadgetId`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.content_page_option}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `optionId` int(10) NOT NULL,
  `rightId` int(10) NOT NULL,
  `srcPageId` int(10) NOT NULL,
  `destPageId` int(10) NOT NULL,
  `name` varchar(32) NOT NULL,
  `href` varchar(512) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
  </database>
</service>
