<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="871a0d619d4f8b6a9d1357a2689d4f601f037620">
  <status>normal</status>
  <name>page</name>
  <description>Basic service to make a page wich can be edited</description>
  <path>/page</path>
  <namespace>page</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/page</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/page</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Service Page View"/>
    <perm name="add" description="Service Page Add"/>
    <perm name="edit" description="Service Page Edit"/>
    <perm name="delete" description="Service Page Delete"/>
  </permissions>
  <navigation>
    <option name="index"/>
  </navigation>
  <registry>
    <table name="page"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Page">
        <file name="Form.php" md5="8599ef16b77acf8979e9a80e5183a026"/>
        <file name="Handler.php" md5="34fc9f4aa02387df02a9a0d1853e0d15"/>
        <file name="Record.php" md5="07e0f5396b48f872a9c31db8d968af3a"/>
        <file name="Table.php" md5="c2eac7a4dc0b9764074c489a0815202c"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.page}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `content` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
