<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="3ac7ffac46b07bafdc5dd5a4c0e7db412605e42f">
  <status>normal</status>
  <name>page</name>
  <description>Basic service to make a page wich can be edited</description>
  <path>/page</path>
  <namespace>page</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/page</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/page</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Page View"/>
    <perm name="add" description="Page Add"/>
    <perm name="edit" description="Page Edit"/>
    <perm name="delete" description="Page Delete"/>
  </permissions>
  <navigation>
    <option name="index"/>
  </navigation>
  <registry>
    <table name="page"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Page">
        <file name="Form.php" md5="afb388fcd5ebb2c52c56e84c7b21f498"/>
        <file name="Handler.php" md5="27419927f6d5e26ae9493b10017fb42f"/>
        <file name="Record.php" md5="78248d512cd386fa99b174e3ce84a940"/>
        <file name="Table.php" md5="86f30e278b1b108c86d969fa89b52770"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.page}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `content` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
