<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="d1e77e07e50df5aa423d363ab9e7b7177f993aa9">
  <status>normal</status>
  <name>page</name>
  <description>Basic service to make a page wich can be edited</description>
  <path>/page</path>
  <namespace>page</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/page</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/page</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Page View"/>
    <perm name="add" description="Page Add"/>
    <perm name="edit" description="Page Edit"/>
    <perm name="delete" description="Page Delete"/>
  </permissions>
  <navigation>
    <option name="index"/>
  </navigation>
  <registry>
    <table name="page"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Page">
        <file name="Form.php" md5="363481c1ab5cec53f65cfd95323ba563"/>
        <file name="Handler.php" md5="ff879146d971748ccf3b79d311b96b60"/>
        <file name="Record.php" md5="b54db9e3e548d1635bfee4b83ef7d2df"/>
        <file name="Table.php" md5="594192b4d3e4d3ca3c33b4366e4a6cfd"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.page}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `content` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
