
div.amun-service-profile
{
}

div.amun-service-profile-header
{
}

div.amun-service-profile-header img
{
}

div.amun-service-profile-activity
{

}

div.amun-service-profile-activity-entry
{
}

div.amun-service-profile-activity-entry h4
{
	margin:0px
}

div.amun-service-profile-activity-entry img
{
	margin-right:6px;
	margin-bottom:6px;
}

div.amun-service-profile-activity-summary
{
}


.amun-service-profile-activity-entry p.muted
{
	margin:0px;
	font-size:0.8em;
}
