<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org">
  <status>system</status>
  <path>/hostmeta</path>
  <namespace>AmunService\Hostmeta</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/hostmeta</type>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/hostmeta</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Host-Meta View"/>
  </permissions>
  <event>
    <publisher name="hostmeta.request" description="Notifies if a hostmeta request occurs"/>
  </event>
</service>
