<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="8fa1080d905eca41e0ef685361e37002186a0ecb">
  <status>normal</status>
  <name>profile</name>
  <description>Displays the activities of an user and the option to add the user as friend</description>
  <path>/profile</path>
  <namespace>profile</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/profile</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <permissions>
    <perm name="view" description="Profile View"/>
  </permissions>
  <navigation>
    <option name="index"/>
  </navigation>
</service>
