<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="7c5364334780cbc3e108e94304e6c5a673ec64fc">
  <status>normal</status>
  <name>profile</name>
  <description>Displays the activities of an user and the option to add the user as friend</description>
  <path>/profile</path>
  <namespace>profile</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/profile</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <permissions>
    <perm name="view" description="Service Profile View"/>
  </permissions>
  <database>
    <query><![CDATA[INSERT INTO `{table.amun_content_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index');]]></query>
  </database>
</service>
