<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org">
  <status>normal</status>
  <path>/profile</path>
  <namespace>AmunService\Profile</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/profile</type>
  <permissions>
    <perm name="view" description="Profile View"/>
  </permissions>
</service>
