<?xml version="1.0" encoding="UTF-8"?>
<service>
  <status>system</status>
  <path>/asset</path>
  <namespace>AmunService\Asset</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/asset</type>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/asset</type>
      <uri>/</uri>
    </service>
  </api>
</service>
