<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="23a0fa0b78b1d16816b99f909d8af89c4848b6ad">
  <status>system</status>
  <name>asset</name>
  <description>A service wich concatenates various css or js files into one output</description>
  <path>/asset</path>
  <namespace>asset</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/asset</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/asset</type>
      <uri>/</uri>
    </service>
  </api>
  <library>
    <dir name="AmunService">
      <dir name="Asset">
        <file name="Manager.php" md5="1e3ac229287355d4b518e4c71b8be955"/>
        <dir name="Provider">
          <file name="Css.php" md5="669e0b0121260afe10fde4226d211c7e"/>
          <file name="Js.php" md5="881c7c34dafe26eef24f5e630b82da28"/>
        </dir>
        <file name="ProviderInterface.php" md5="fec6b8d2b956c8c21a99e45608d1c834"/>
      </dir>
    </dir>
  </library>
</service>
