<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="0edd2eb0dbc94266d24413b8b3396df9142b9225">
  <status>normal</status>
  <name>forum</name>
  <path>/forum</path>
  <namespace>forum</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/forum</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <required>
    <service>org.amun-project.comment</service>
  </required>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/forum</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Service Forum View"/>
    <perm name="add" description="Service Forum Add"/>
    <perm name="edit" description="Service Forum Edit"/>
    <perm name="delete" description="Service Forum Delete"/>
    <perm name="sticky" description="Service Forum Sticky"/>
    <perm name="close" description="Service Forum Close"/>
    <perm name="comment_add" description="Service Forum Comment Add"/>
  </permissions>
  <registry>
    <table name="forum"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Forum">
        <file name="Form.php" md5="6cf277ac6e1ce532a2a15701e470cbc7"/>
        <file name="Handler.php" md5="8a37e5744b1ed4063ee4c11a0a8c6b3a"/>
        <file name="Record.php" md5="41257dd83b6ea08cfd947a00c1d0798b"/>
        <file name="Table.php" md5="36d49ed41fd1e49520c021fb885a0fc2"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.forum}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `sticky` TINYINT(1) NOT NULL DEFAULT '0',
  `closed` TINYINT(1) NOT NULL DEFAULT '0',
  `urlTitle` VARCHAR(128) NOT NULL,
  `title` VARCHAR(128) NOT NULL,
  `text` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[INSERT INTO `{table.core_content_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index'),
({service.id}, 'view');]]></query>
    <query><![CDATA[INSERT INTO `{table.core_user_activity_template}` (`type`, `verb`, `table`, `path`, `summary`) VALUES
('INSERT', 'add', 'amun_service_forum', 'view?id={record.id}', '<p><a href="{user.profileUrl}">{user.name}</a> has created a <a href="{object.url}">thread</a></p><blockquote>{record.text}</blockquote>');]]></query>
    <if hasService="my">
      <query><![CDATA[INSERT INTO `{table.my_notify_service}` (`table`, `title`) VALUES
('{config.table_prefix}forum', 'Forum');]]></query>
    </if>
  </database>
</service>
