<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="f2759604e23801f000e29ba083a309fd4e8b43b8">
  <status>normal</status>
  <name>forum</name>
  <path>/service/forum</path>
  <namespace>forum</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/forum</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <required>
    <service>org.amun-project.comment</service>
  </required>
  <permissions>
    <perm name="view" description="Service Forum View"/>
    <perm name="add" description="Service Forum Add"/>
    <perm name="edit" description="Service Forum Edit"/>
    <perm name="delete" description="Service Forum Delete"/>
    <perm name="sticky" description="Service Forum Sticky"/>
    <perm name="close" description="Service Forum Close"/>
    <perm name="comment_add" description="Service Forum Comment Add"/>
  </permissions>
  <library>
    <dir name="AmunService">
        <dir name="Forum">
            <include />
        </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[INSERT INTO `{table.amun_system_registry}` (`name`, `type`, `value`) VALUES
('table.amun_service_forum', 'STRING', '{config.table_prefix}service_forum');]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.amun_service_forum}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `sticky` TINYINT(1) NOT NULL DEFAULT '0',
  `closed` TINYINT(1) NOT NULL DEFAULT '0',
  `urlTitle` VARCHAR(128) NOT NULL,
  `title` VARCHAR(128) NOT NULL,
  `text` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query storeID="content_api"><![CDATA[INSERT INTO `{table.amun_content_api}` (`serviceId`, `priority`, `endpoint`) VALUES
({service.id}, 0, 'service/forum');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_api_type}` (`apiId`, `type`) VALUES
({id.content_api}, '{service.type}'),
({id.content_api}, 'http://ns.amun-project.org/2011/amun/data/1.0');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index'),
({service.id}, 'view');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_user_activity_template}` (`type`, `verb`, `table`, `path`, `summary`) VALUES
('INSERT', 'add', 'amun_service_forum', 'view?id={record.id}', '<p><a href="{user.profileUrl}">{user.name}</a> has created a <a href="{object.url}">thread</a></p><blockquote>{record.text}</blockquote>');]]></query>
    <if hasService="my">
      <query><![CDATA[INSERT INTO `{table.amun_service_my_notify_service}` (`table`, `title`) VALUES
('amun_service_forum', 'Forum');]]></query>
    </if>
  </database>
</service>
