<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="bdaafe641064a8f81aad79a4cdd2abdfce5baa4b">
  <status>normal</status>
  <name>forum</name>
  <description>Implementation of an simple forum system. It is possible to create threads and set the status to sticky or closed</description>
  <path>/forum</path>
  <namespace>forum</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/forum</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <required>
    <service>org.amun-project.comment</service>
  </required>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/forum</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <activity>
    <template type="INSERT" verb="add" table="forum" path="view?id={record.id}"><![CDATA[
<p><a href="{user.profileUrl}">{user.name}</a> has created a <a href="{object.url}">thread</a></p><blockquote>{record.text}</blockquote>
]]></template>
  </activity>
  <permissions>
    <perm name="view" description="Forum View"/>
    <perm name="add" description="Forum Add"/>
    <perm name="edit" description="Forum Edit"/>
    <perm name="delete" description="Forum Delete"/>
    <perm name="sticky" description="Forum Sticky"/>
    <perm name="close" description="Forum Close"/>
    <perm name="comment_add" description="Forum Comment Add"/>
  </permissions>
  <navigation>
    <option name="index"/>
    <option name="view"/>
  </navigation>
  <registry>
    <table name="forum"/>
  </registry>
  <event>
    <listener name="core.record_change" class="\AmunService\Forum\RecordListener"/>
  </event>
  <library>
    <dir name="AmunService">
      <dir name="Forum">
        <file name="Form.php" md5="f00c1b1ae89fd687f37923c6ad910a70"/>
        <file name="Handler.php" md5="7bcc82466e271f0ec5061f1e491b5008"/>
        <file name="Record.php" md5="a11170d25a635cdf52c97bc1fd91a484"/>
        <file name="RecordListener.php" md5="fbd692b5ff3980a10578e940912f950c"/>
        <file name="Table.php" md5="c82497f040e9d26ecbbd99c6c5253795"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.forum}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `sticky` TINYINT(1) NOT NULL DEFAULT '0',
  `closed` TINYINT(1) NOT NULL DEFAULT '0',
  `urlTitle` VARCHAR(128) NOT NULL,
  `title` VARCHAR(128) NOT NULL,
  `text` LONGTEXT NOT NULL,
  `date` DATETIME NOT NULL,
  `replyCount` int(10) NOT NULL DEFAULT '0',
  `replyUserId` int(10) DEFAULT NULL,
  `replyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
