<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="74d885f2271e32e9065dc7b6146f438978ced502">
  <status>system</status>
  <name>pshb</name>
  <description>PubSubHubBub notifier wich sends a new content notification request to an hub</description>
  <path>/pshb</path>
  <namespace>pshb</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/pshb</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <registry>
    <param name="hub" value="http://pubsubhubbub.appspot.com"/>
  </registry>
  <event>
    <listener name="core.record_change" class="\AmunService\Pshb\RecordListener"/>
    <listener name="hostmeta.request" class="\AmunService\Pshb\HostmetaListener"/>
  </event>
  <registry>
    <table name="pshb_subscription"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Pshb">
        <file name="HostmetaListener.php" md5="02cdf34368aeadd4d80e6857b13f0ab4"/>
        <file name="RecordListener.php" md5="e0a2daaac560063ac16a5722916c16a1"/>
        <dir name="Subscription">
          <file name="Form.php" md5="2d6f505718e34ca74b1881a3ea484dad"/>
          <file name="Handler.php" md5="4f60cdce395296e4f84c50af2bb693ec"/>
          <file name="Record.php" md5="4e362d7bf2d4137c12dbda52cc707830"/>
          <file name="Table.php" md5="70054338b89d914158001b18b4560650"/>
        </dir>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.pshb_subscription}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` INT(10) NOT NULL,
  `status` INT(10) NOT NULL,
  `hub` VARCHAR(256) NOT NULL,
  `topic` VARCHAR(256) NOT NULL,
  `leaseSeconds` INT(10),
  `secret` VARCHAR(40),
  `verifyToken` VARCHAR(32),
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
