<?xml version="1.0" encoding="UTF-8"?>
<service>
  <status>normal</status>
  <path>/login</path>
  <namespace>AmunService\Login</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/login</type>
  <registry>
    <table name="login_attempt"/>
    <param name="registration_enabled" value="1" type="BOOLEAN"/>
    <param name="max_wrong" value="8" type="INTEGER"/>
    <param name="provider" value="google, yahoo, openid, system" type="STRING"/>
  </registry>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.login_attempt}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `ip` varchar(40) NOT NULL,
  `count` int(10) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ip` (`ip`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
  <permissions>
    <perm name="view" description="Login View"/>
  </permissions>
  <mail>
    <template name="LOGIN_REGISTRATION" from="noreply@%host%" subject="Account activation" values="account.name;account.identity;host.name;register.link;register.date">
      <text><![CDATA[
Hello {account.name},

you have successful registered at {host.name}. Your identity is
"{account.identity}". In order to activate your account please visit the
following activation link:

{register.link}
]]></text>
      <html><![CDATA[
Hello {account.name},

you have successful registered at {host.name}. Your identity is
"{account.identity}". In order to activate your account please visit the
following activation link:

{register.link}
]]></html>
    </template>
    <template name="LOGIN_RECOVER" from="noreply@%host%" subject="Account recover" values="account.name;host.name;recover.ip;recover.link;recover.date">
      <text><![CDATA[
Hello {account.name},

{recover.ip} wants to recover your password. In order to get a new password 
visit the following link. We will create a new password for you and send it to 
this email address. Ignore this email if you have not requested a new password.

{recover.link}
]]></text>
      <html><![CDATA[
Hello {account.name},

{recover.ip} wants to recover your password. In order to get a new password 
visit the following link. We will create a new password for you and send it to 
this email address. Ignore this email if you have not requested a new password.

{recover.link}
]]></html>
    </template>
    <template name="LOGIN_RECOVER_SUCCESS" from="noreply@%host%" subject="Account recover success" values="account.name;account.pw;host.name;recover.link;recover.date">
      <text><![CDATA[
Hello {account.name},

you have successful recovered your password. It is highly recommended to change
the password after a recovery process because the password was maybe transmitted
over an insecure channel.

New password: {account.pw}

You can login with the new password at:
{recover.link}
]]></text>
      <html><![CDATA[
Hello {account.name},

you have successful recovered your password. It is highly recommended to change
the password after a recovery process because the password was maybe transmitted
over an insecure channel.

New password: {account.pw}

You can login with the new password at:
{recover.link}
]]></html>
    </template>
  </mail>
</service>
