<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="6e2e81766e5a3160a490ca2bd2643000e7fecbfd">
  <status>normal</status>
  <name>webdav</name>
  <type>http://ns.amun-project.org/2011/amun/service/webdav</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <library>
    <dir name="Amun">
      <dir name="Service">
        <dir name="Webdav">
          <file name="File.php" md5="8c25ad6187ffdf250bba9298099dc0c3"/>
          <file name="Page.php" md5="921d27b04441ded65610160794e6d252"/>
        </dir>
      </dir>
    </dir>
    <dir name="Sabre">
      <dir name="CalDAV">
        <dir name="Backend">
          <file name="Abstract.php" md5="69d1a25e2d7f9565967baa8760db526f"/>
          <file name="BackendInterface.php" md5="9c0e81b891844822a5da387f7b5b6f6c"/>
          <file name="NotificationSupport.php" md5="2dce47f0c4b5fa13170858e3e73d76ab"/>
          <file name="PDO.php" md5="d9d2a7c41c7f2231c8a66f7a1bcde9d4"/>
          <file name="SharingSupport.php" md5="4eac69744bcf68284eaebe454ae53edb"/>
        </dir>
        <file name="Calendar.php" md5="25bc5468f3c3d306f070902d3dfdc6cf"/>
        <file name="CalendarObject.php" md5="c09abd3373939cccf2869ada14bdd592"/>
        <file name="CalendarQueryParser.php" md5="0cb2b3793e6c7503cadd2ed52098439e"/>
        <file name="CalendarQueryValidator.php" md5="627edd93138440178bb848715237cbb9"/>
        <file name="CalendarRootNode.php" md5="84371ec480e7ba43ac12fddcfb6df9cf"/>
        <dir name="Exception">
          <file name="InvalidComponentType.php" md5="52d35f72ef5e9f7934daac818b7817f1"/>
        </dir>
        <file name="ICSExportPlugin.php" md5="4e4f7347bf380264f4129cd263fb3043"/>
        <file name="ICalendar.php" md5="7d741bb2f0883a271c953ac105db81e0"/>
        <file name="ICalendarObject.php" md5="a68738af0e08fd6b13d886470b61c664"/>
        <file name="IShareableCalendar.php" md5="1b9e008a902d97521de3cf32358bd90d"/>
        <file name="ISharedCalendar.php" md5="b8a9e320bb5ccb0bc41e6993d5402a32"/>
        <dir name="Notifications">
          <file name="Collection.php" md5="689d7933f371a37b7f86cd2267c2a70b"/>
          <file name="ICollection.php" md5="ac2729ac18c887dd0cb27bbce0d7ed85"/>
          <file name="INode.php" md5="e5291e76eab8fad034ee980985ddeda3"/>
          <file name="INotificationType.php" md5="9b097538e06b0cecd5f78435f070de0a"/>
          <file name="Node.php" md5="7831acd601ea6b35545c393368353192"/>
          <dir name="Notification">
            <file name="Invite.php" md5="9c8355d62a971d320b8040a362f989c9"/>
            <file name="InviteReply.php" md5="83406abedf75aef142206009247abc97"/>
            <file name="SystemStatus.php" md5="8f6ca3eb87f1c0aab6a7e7ab3fc7dc95"/>
          </dir>
        </dir>
        <file name="Plugin.php" md5="3508a67414302be0dc081c77a1dab15c"/>
        <dir name="Principal">
          <file name="Collection.php" md5="0cf2aff64fe76051cc0ecda8c7a37efb"/>
          <file name="ProxyRead.php" md5="76bce44f06e661ae99f9593ea3f9a493"/>
          <file name="ProxyWrite.php" md5="fb22a093666e6e596c93660b1e8b7406"/>
          <file name="User.php" md5="62981b44d23be35b683f6c987fa65662"/>
        </dir>
        <dir name="Property">
          <file name="AllowedSharingModes.php" md5="7d3dfb20a8c313a4a0657fc27df4192a"/>
          <file name="Invite.php" md5="7a5d9b9dbc1c4f02f2827b37814fb222"/>
          <file name="ScheduleCalendarTransp.php" md5="e6e8dfb845471abc216fbd5f8713cd0c"/>
          <file name="SupportedCalendarComponentSet.php" md5="82494beaf2c8ba6509ec4df600fece18"/>
          <file name="SupportedCalendarData.php" md5="563c15690a21814d51b4e3f0a2ed9d72"/>
          <file name="SupportedCollationSet.php" md5="a696c57a7737c0f07fee72a62041fc3d"/>
        </dir>
        <dir name="Schedule">
          <file name="IMip.php" md5="8e9ddfd8de36afe2e50a850068def567"/>
          <file name="IOutbox.php" md5="03932281da4b252d79d9925f2d344534"/>
          <file name="Outbox.php" md5="7a3b29cc0df41f136685840ba534498a"/>
        </dir>
        <file name="ShareableCalendar.php" md5="1cfff1fc2409d95c0efa009001b15f0d"/>
        <file name="SharedCalendar.php" md5="a08583d2b1d5cb9c827e93c5bb2dfc82"/>
        <file name="SharingPlugin.php" md5="f4ede009f36705631256a19b574126b4"/>
        <file name="UserCalendars.php" md5="39702fb72489c024e3e6c11f6de1dee5"/>
        <file name="Version.php" md5="371f03bbf80975fd09cb21f9362dbc5a"/>
        <file name="includes.php" md5="75e1205f6fa4bcd25b6b5778a260a474"/>
      </dir>
      <dir name="CardDAV">
        <file name="AddressBook.php" md5="a33b23de53c0659e404b4491f6578388"/>
        <file name="AddressBookQueryParser.php" md5="eca54fe4aee9bfa7c019dc446fd72f55"/>
        <file name="AddressBookRoot.php" md5="8cf1e8ad01265638748007e25f4ef0b5"/>
        <dir name="Backend">
          <file name="Abstract.php" md5="429666c6478a0110380b49e3734b3dfe"/>
          <file name="PDO.php" md5="37806b320990b8589b08726715ecefa3"/>
        </dir>
        <file name="Card.php" md5="1540b29c167440f2e6b484970a98af50"/>
        <file name="IAddressBook.php" md5="31a539fe751cb158e7d8097af153de21"/>
        <file name="ICard.php" md5="e57086cf3473fb2ee5565f71cfe8f67d"/>
        <file name="IDirectory.php" md5="26e2dcff6b2e56a8e6f3a6a136c47dff"/>
        <file name="Plugin.php" md5="10be85619ba9d3658d64635c33498de1"/>
        <dir name="Property">
          <file name="SupportedAddressData.php" md5="31659fd7fdfe310c9b40d06eb1d208b5"/>
        </dir>
        <file name="UserAddressBooks.php" md5="48a26cadd298a2eb763a2bc1914cde00"/>
        <file name="VCFExportPlugin.php" md5="018a7920adee743314f96e068f2d0262"/>
        <file name="Version.php" md5="69f1021608bcdbb062704fc3e13a1e1a"/>
        <file name="includes.php" md5="c5eca6f9456d924633d4a7bf38c1eafb"/>
      </dir>
      <dir name="DAV">
        <dir name="Auth">
          <dir name="Backend">
            <file name="AbstractBasic.php" md5="3628c9429bfa21d87c38543864e09c86"/>
            <file name="AbstractDigest.php" md5="d90db56db9ba1612e78f72950c505d8d"/>
            <file name="Apache.php" md5="aa46ef9a7b8a175c43768f3cb05d794f"/>
            <file name="File.php" md5="8ecfa6d40e335c00bee3d4e769a9fd7c"/>
            <file name="PDO.php" md5="121597a910436a5b1b5c6b7813c93a3f"/>
          </dir>
          <file name="IBackend.php" md5="15b19c2b11efc8f1015a4d7fca607023"/>
          <file name="Plugin.php" md5="32edeb31cc114d24157d1e60d0fa35c4"/>
        </dir>
        <dir name="Browser">
          <file name="GuessContentType.php" md5="57f53efec0fa9e90abb5a652b1b8528c"/>
          <file name="MapGetToPropFind.php" md5="d36f23bfb3c108ba47a4b2bc3a85f5b8"/>
          <file name="Plugin.php" md5="04cfa753ee1aa0d0e1069fef540aa752"/>
          <dir name="assets">
            <file name="favicon.ico" md5="ad382857669c26d08fc33b9b3c6af549"/>
            <dir name="icons">
              <file name="addressbook.png" md5="f5c828904bacecdbe429adf13cd8a5e6"/>
              <file name="calendar.png" md5="7e1dd7a6509acb397106b5f60ae0035b"/>
              <file name="card.png" md5="151077c627594e03774f4826858f5fa6"/>
              <file name="collection.png" md5="21eab3b0d660a5d89dc5b386fbc890a2"/>
              <file name="file.png" md5="188d68e38caf68ce5e6800ed6a7673c0"/>
              <file name="parent.png" md5="21eab3b0d660a5d89dc5b386fbc890a2"/>
              <file name="principal.png" md5="e83a65b76ee351e6644c6227d6253dec"/>
            </dir>
          </dir>
        </dir>
        <file name="Client.php" md5="b4d27aeb8f061aacf928b9e26ce46aa3"/>
        <file name="Collection.php" md5="add90465157d931e80fe09d6545af90d"/>
        <dir name="Exception">
          <file name="BadRequest.php" md5="0c1aa76f7e286bd6325335eb518e4a4c"/>
          <file name="Conflict.php" md5="2d2ca18c5e0096e370bc0d02b1f85399"/>
          <file name="ConflictingLock.php" md5="eac831442860d1cf61c360c5babf063e"/>
          <file name="FileNotFound.php" md5="66d737587be516aa04f9ba56dfa25884"/>
          <file name="Forbidden.php" md5="7abb169f476157556f4394ba0906559e"/>
          <file name="InsufficientStorage.php" md5="874687e36e29ff180d6c96ee3a53379a"/>
          <file name="InvalidResourceType.php" md5="de7c02877d55ed61302088fb95e13db2"/>
          <file name="LockTokenMatchesRequestUri.php" md5="2c062ed7f8b749aef17fe72a7faf8a6a"/>
          <file name="Locked.php" md5="99ceeab60651363056e8355ad95bc88b"/>
          <file name="MethodNotAllowed.php" md5="58dbe485fea54ec7b72dbccb35d108cd"/>
          <file name="NotAuthenticated.php" md5="5b6ecfacec82a6fa32c9284c90601c3a"/>
          <file name="NotFound.php" md5="07ff87b40daf59f104aa0753e91bb91d"/>
          <file name="NotImplemented.php" md5="d4b4d063c8286629f277f22a83ded816"/>
          <file name="PaymentRequired.php" md5="8780e5e3e2ee94809fa99759cee8ae81"/>
          <file name="PreconditionFailed.php" md5="72052f84fc0471091f529c579419e4e8"/>
          <file name="ReportNotSupported.php" md5="3711b47b95383f3a89b4b0ee5b944388"/>
          <file name="RequestedRangeNotSatisfiable.php" md5="81fe980ddf86ca3d2efd13b0df283ead"/>
          <file name="UnsupportedMediaType.php" md5="d23c5f60bec31549e1ce5174428133e6"/>
        </dir>
        <file name="Exception.php" md5="6f68fc19067ed2b4102b0347c1297986"/>
        <dir name="FS">
          <file name="Directory.php" md5="18f66526be8bec79d71665a936cbac40"/>
          <file name="File.php" md5="b6f13aebe5dffb2260eae7d51f914893"/>
          <file name="Node.php" md5="ba8124abb5e1dd98c3b085d27b080481"/>
        </dir>
        <dir name="FSExt">
          <file name="Directory.php" md5="bdd1fb42121c9f3a6ebbd7862f733656"/>
          <file name="File.php" md5="ad1a250ea1a0a94f6f5ae161f77055e8"/>
          <file name="Node.php" md5="a945aaa63e13521556d4e3060f4cf045"/>
        </dir>
        <file name="File.php" md5="3d1adee572ce5b47229197cb74c84f5e"/>
        <file name="ICollection.php" md5="615cbf5194849d7bd33e4cce6f10be8d"/>
        <file name="IExtendedCollection.php" md5="28c02dc025855f76084cf1116b22702b"/>
        <file name="IFile.php" md5="3bfeae778bde7bb51275599b201b8c29"/>
        <file name="INode.php" md5="223d7f9f89a3b60b0d1657d0a163da8d"/>
        <file name="IProperties.php" md5="26bcaae1e3cda5f35e33f25eacf71b9c"/>
        <file name="IQuota.php" md5="2cd47424e312cfffb04f494c9cebfd33"/>
        <dir name="Locks">
          <dir name="Backend">
            <file name="Abstract.php" md5="e870d49b364d215efe886f5751bd1d08"/>
            <file name="FS.php" md5="8c4271524ea693d2f2bfb6af4db67f25"/>
            <file name="File.php" md5="2b96df19ba023839c86d3efad062a07e"/>
            <file name="PDO.php" md5="f471b70eb55d0047a0e09db18002cf04"/>
          </dir>
          <file name="LockInfo.php" md5="f108e3d2f2af1bc9064d750b84a2f93e"/>
          <file name="Plugin.php" md5="816bd0b9df674ec9b3af1050b9662c8e"/>
        </dir>
        <dir name="Mount">
          <file name="Plugin.php" md5="66c3749100002159fbaf27b879fa7e8c"/>
        </dir>
        <file name="Node.php" md5="c597722870121fe60030b9616a8188f2"/>
        <file name="ObjectTree.php" md5="161a46ff5d600a1930b96fd067ffa0c9"/>
        <dir name="PartialUpdate">
          <file name="IFile.php" md5="519b66a5eca351e190862f14d596e871"/>
          <file name="Plugin.php" md5="276ac3196b802608617a683392dea877"/>
        </dir>
        <dir name="Property">
          <file name="GetLastModified.php" md5="fcf7e96a9515fecef9aba0991998b8c9"/>
          <file name="Href.php" md5="49987baba84e49252b6737ecd26db4d9"/>
          <file name="HrefList.php" md5="0ad3ab24c92e56faab367a6553cde910"/>
          <file name="IHref.php" md5="1424292245d6b382281fa0a13d61df52"/>
          <file name="LockDiscovery.php" md5="29e03632d8e7f5b699d06f36dd68db38"/>
          <file name="ResourceType.php" md5="90843e2474da5c969aaa4776ae86ad69"/>
          <file name="Response.php" md5="a8d8e65a507531997f91374c0c776386"/>
          <file name="ResponseList.php" md5="bf2c2053ba188aeb285c83d18be6a63c"/>
          <file name="SupportedLock.php" md5="75cbfceb0bf47dddccaad2d6c02be873"/>
          <file name="SupportedReportSet.php" md5="31a94401a38f2501473059f6c4d60ba3"/>
        </dir>
        <file name="Property.php" md5="bb981ee726229fb253f5341d3a45970a"/>
        <file name="PropertyInterface.php" md5="63c1a2ff8e46c3a80fd1d56afa3bb3d5"/>
        <file name="Server.php" md5="5045223543059da660d6b718f6897a0f"/>
        <file name="ServerPlugin.php" md5="fe9a2fdd158f3f0ed0b9c7ddcdeab4b1"/>
        <file name="SimpleCollection.php" md5="7a75bb336f90583c21589ddccbbaaed3"/>
        <file name="SimpleFile.php" md5="58cc4f5d8097da34e9274482ca49634a"/>
        <file name="StringUtil.php" md5="b4dd938d1693170094b92406435b30f1"/>
        <file name="TemporaryFileFilterPlugin.php" md5="93488bf5a4ef3b9480bdf96e3d851456"/>
        <dir name="Tree">
          <file name="Filesystem.php" md5="9c4a6c875a977c42a383a1f3c73bf4d4"/>
        </dir>
        <file name="Tree.php" md5="6c4a888dab2013eb24ddb3e0b0eb09e2"/>
        <file name="URLUtil.php" md5="dc75117f94089df0d7b570e6c4a8b6eb"/>
        <file name="UUIDUtil.php" md5="242d12d448e3a5514560b74abb884aaa"/>
        <file name="Version.php" md5="6348cc919932356e55a9d91bf6261c88"/>
        <file name="XMLUtil.php" md5="e50ed4118ae7a4f81d1ef3540cdcdee3"/>
        <file name="includes.php" md5="b01f0e8974c78489795376cff922ae46"/>
      </dir>
      <dir name="DAVACL">
        <file name="AbstractPrincipalCollection.php" md5="e3bd17cff41f373edd21d9a7ee07a344"/>
        <dir name="Exception">
          <file name="AceConflict.php" md5="b5097c8febe7834764b593456d388250"/>
          <file name="NeedPrivileges.php" md5="0d6e15709e5142a5618f71186ac98bad"/>
          <file name="NoAbstract.php" md5="a44b187095964e0dc53e1085399d70fb"/>
          <file name="NotRecognizedPrincipal.php" md5="3170cca5744165a8a9a02c0ff7e859c2"/>
          <file name="NotSupportedPrivilege.php" md5="ff40897ccbf07d09bd07d6d13185d723"/>
        </dir>
        <file name="IACL.php" md5="3bf435eb4183966f67ec3bb6e085a7ec"/>
        <file name="IPrincipal.php" md5="91b7e735bd7b3b259a3caefbb7771a0b"/>
        <file name="IPrincipalBackend.php" md5="d9cb0016ab674a1bcc4f4501994a05d1"/>
        <file name="Plugin.php" md5="2f9f29801bf3b301b17b3928eb0f3723"/>
        <file name="Principal.php" md5="d5db4a9106df935ae7f13db246de29e6"/>
        <dir name="PrincipalBackend">
          <file name="PDO.php" md5="c420cefce1eef97f827076c9ceccab41"/>
        </dir>
        <file name="PrincipalCollection.php" md5="4c78f107b0fbf1ac7c618577d8865682"/>
        <dir name="Property">
          <file name="Acl.php" md5="09ef59d5efa57d498894fe4039d0db9c"/>
          <file name="AclRestrictions.php" md5="1a09e9466aadf33a90ddc57167c3c918"/>
          <file name="CurrentUserPrivilegeSet.php" md5="5812eab1a7e128b1224079da0989f638"/>
          <file name="Principal.php" md5="edbd69f00a883c4740b0df087143bf72"/>
          <file name="SupportedPrivilegeSet.php" md5="e612735f5b33d876ef045ee77cc8672c"/>
        </dir>
        <file name="Version.php" md5="597813799b8a7bd0b56e7a84c43d6117"/>
        <file name="includes.php" md5="0bfb28691e1b94678123005b7b9d8f70"/>
      </dir>
      <dir name="HTTP">
        <file name="AWSAuth.php" md5="b9c6d34d3a5b9af83e7a84b05499aab0"/>
        <file name="AbstractAuth.php" md5="58f8563b3ff35c4f1d7d040f015e92ed"/>
        <file name="BasicAuth.php" md5="739e2ba341328b34cc0937684cd0846a"/>
        <file name="DigestAuth.php" md5="d2dd58b0ec5aec50a43273af3f41ec1f"/>
        <file name="Request.php" md5="490652a816180b854aecfbee847052a2"/>
        <file name="Response.php" md5="12b4aca2e0fce17f0935fb3795feb1b1"/>
        <file name="Util.php" md5="ad4d6976d63d5c3bdfd2ba8450fcfe4c"/>
        <file name="Version.php" md5="ad60c0d91e91ad83edcb400bc6b5a7e4"/>
        <file name="includes.php" md5="fa6b4310988d2069f36e9a8630278dc3"/>
      </dir>
      <file name="autoload.php" md5="574566229010a52fcf03d316727bdab6"/>
    </dir>
  </library>
  <database>
    <query storeID="content_api"><![CDATA[INSERT INTO `{table.amun_content_api}` (`serviceId`, `priority`, `endpoint`) VALUES
({service.id}, 0, 'service/webdav');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_api_type}` (`apiId`, `type`) VALUES
({id.content_api}, '{service.type}');]]></query>
  </database>
</service>
