<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="77b13ad5d8b7d486251ae12a56dfe1c546e18e11">
  <status>system</status>
  <name>xrds</name>
  <description>Provides an xrds endpoint to discover all APIs</description>
  <path>/xrds</path>
  <namespace>xrds</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/xrds</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/xrds</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="XRDS View"/>
  </permissions>
  <registry>
    <table name="xrds"/>
    <table name="xrds_type"/>
  </registry>
  <event>
    <listener name="core.service_install" class="\AmunService\Xrds\ConfigListener"/>
  </event>
  <library>
    <dir name="AmunService">
      <dir name="Xrds">
        <file name="ConfigListener.php" md5="8dada98c66e297cfd2b5e684a15fb8e2"/>
        <file name="Handler.php" md5="bdfb41128dc2a4d9cb03560fd3e3ba59"/>
        <file name="Record.php" md5="22ac0adcaf32b9f4ec820436b3acca1a"/>
        <file name="Table.php" md5="8daf45137b53870a40a6b42235bed2f3"/>
        <dir name="Type">
          <file name="Handler.php" md5="228968ce606b1368eddb07988ceb4f68"/>
          <file name="Record.php" md5="b76692d2330e6384d3203319e5ccecf3"/>
          <file name="Table.php" md5="2a58f62e4163234b1f0a13fc5cd38d7b"/>
        </dir>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.xrds}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `serviceId` int(10) NOT NULL,
  `priority` int(10) NOT NULL DEFAULT '0',
  `endpoint` varchar(256) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `endpoint` (`endpoint`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.xrds_type}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `apiId` int(10) NOT NULL,
  `type` varchar(512) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `apiId_type` (`apiId`,`type`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
  </database>
</service>
