<?xml version="1.0" encoding="UTF-8"?>
<service>
  <status>system</status>
  <path>/xrds</path>
  <namespace>AmunService\Xrds</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/xrds</type>
  <event>
    <listener name="core.service_install" class="\AmunService\Xrds\ConfigListener"/>
  </event>
  <registry>
    <table name="xrds"/>
    <table name="xrds_type"/>
  </registry>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.xrds}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `serviceId` int(10) NOT NULL,
  `priority` int(10) NOT NULL DEFAULT '0',
  `endpoint` varchar(256) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `endpoint` (`endpoint`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.xrds_type}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `apiId` int(10) NOT NULL,
  `type` varchar(512) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `apiId_type` (`apiId`,`type`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
  </database>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/xrds</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="XRDS View"/>
  </permissions>
</service>
