<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="8666b6381fe96acedcb7a90b073e8466d5704cf7">
  <status>system</status>
  <name>xrds</name>
  <description>Provides an xrds endpoint to discover all APIs</description>
  <path>/xrds</path>
  <namespace>xrds</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/xrds</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/xrds</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="XRDS View"/>
  </permissions>
  <registry>
    <table name="xrds"/>
    <table name="xrds_type"/>
  </registry>
  <event>
    <listener name="core.service_install" class="AmunService_Xrds_ConfigListener"/>
  </event>
  <library>
    <dir name="AmunService">
      <dir name="Xrds">
        <file name="ConfigListener.php" md5="ac6fa22e77613a727971720e36a7f9d5"/>
        <file name="Record.php" md5="66258939fc2fa52a9284481c8c082941"/>
        <file name="Table.php" md5="6ab793d627800e2b061e1583543eaab1"/>
        <dir name="Type">
          <file name="Record.php" md5="e9e5a862d5bc37797eb80775308bf628"/>
          <file name="Table.php" md5="48529dd7f7cf51d03b02ff09b3c7251b"/>
        </dir>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.xrds}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `serviceId` int(10) NOT NULL,
  `priority` int(10) NOT NULL DEFAULT '0',
  `endpoint` varchar(256) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `endpoint` (`endpoint`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.xrds_type}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `apiId` int(10) NOT NULL,
  `type` varchar(512) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `apiId_type` (`apiId`,`type`)
) ENGINE=MyISAM DEFAULT CHARSET=ascii;]]></query>
  </database>
</service>
