<?xml version="1.0" encoding="UTF-8"?>
<service>
  <status>system</status>
  <path>/stomp</path>
  <namespace>stomp</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/stomp</type>
  <event>
    <listener name="core.record_change" class="\AmunService\Stomp\RecordListener"/>
  </event>
  <registry>
    <param name="broker" value="tcp://localhost:61613" type="STRING"/>
    <param name="user" value="admin" type="STRING"/>
    <param name="pw" value="password" type="STRING"/>
    <param name="destination" value="/queue/amun" type="STRING"/>
  </registry>
</service>
