
.amun-gadget-latestnews
{
	margin:2px;
}

.amun-gadget-latestnews ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.amun-gadget-latestnews li
{
}

.amun-gadget-archive
{
	margin:2px;
}

.amun-gadget-archive ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.amun-gadget-archive li
{
	margin-bottom:4px;
}