<?xml version="1.0" encoding="UTF-8"?>
<service>
  <status>system</status>
  <path>/sitemap</path>
  <namespace>AmunService\Sitemap</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/sitemap</type>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/sitemap</type>
      <type>http://www.sitemaps.org/schemas/sitemap/0.9</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Sitemap View"/>
  </permissions>
</service>
