<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="8461ab40a88bdeb76475544ce0446f2a47fcccc6">
  <status>system</status>
  <name>sitemap</name>
  <description>Adds an API to generate a sitemap (sitemaps.org) wich can be used by search engines</description>
  <path>/sitemap</path>
  <namespace>sitemap</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/sitemap</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/sitemap</type>
      <type>http://www.sitemaps.org/schemas/sitemap/0.9</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Service Sitemap View"/>
  </permissions>
</service>
