<?xml version="1.0" encoding="UTF-8"?>
<service>
  <status>system</status>
  <path>/lrdd</path>
  <namespace>AmunService\Lrdd</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/lrdd</type>
  <event>
    <listener name="hostmeta.request" class="\AmunService\Lrdd\HostmetaListener"/>
    <publisher name="lrdd.resource_discovery" description="Notifies if an lrdd lookup occurs"/>
  </event>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/lrdd</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Lrdd View"/>
  </permissions>
</service>
