<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="1ab510807874e9ba5bf3befb39adfe72ad111336">
  <status>system</status>
  <name>explorer</name>
  <description>Provides an API to browse, create, edit and delete files on the server</description>
  <path>/explorer</path>
  <namespace>explorer</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/explorer</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/explorer</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Explorer View"/>
    <perm name="add" description="Explorer Add"/>
    <perm name="edit" description="Explorer Edit"/>
    <perm name="delete" description="Explorer Delete"/>
  </permissions>
  <registry>
    <param name="path" value="." type="STRING"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Explorer">
        <dir name="Filter">
          <file name="Path.php" md5="460624b4f94885707881a6cccce84568"/>
        </dir>
        <file name="Form.php" md5="b65ced4cb3e6d623a2f8fc3fcbf51614"/>
        <file name="Handler.php" md5="3e3454d31e4a6516468f32592b3d3d52"/>
        <file name="Record.php" md5="02e7786bcebce46e1ec1be6c61632344"/>
      </dir>
    </dir>
  </library>
</service>
