<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="9882607b38b41de36d4b3d29c85953178862bb08">
  <status>normal</status>
  <name>redirect</name>
  <path>/service/redirect</path>
  <namespace>Amun_Service_Redirect</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/redirect</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <permissions>
    <perm name="view" description="Service Redirect View" />
    <perm name="add" description="Service Redirect Add" />
    <perm name="edit" description="Service Redirect Edit" />
    <perm name="delete" description="Service Redirect Delete" />
  </permissions>
  <library>
    <dir name="Amun">
      <dir name="Service">
        <dir name="Redirect">
          <file name="Form.php" md5="919c8dfbfb322afc71dca7bd52ac61b0"/>
          <file name="Handler.php" md5="0c179533a3c83af74279a220b51ac357"/>
          <file name="Table.php" md5="021765d93959223c8546aa35924356ed"/>
        </dir>
        <file name="Redirect.php" md5="aa1b240fad8f0a7c8f64ccb387879965"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[INSERT INTO `{table.amun_system_registry}` (`name`, `type`, `value`) VALUES
('table.amun_service_redirect', 'STRING', '{config.table_prefix}service_redirect');]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.amun_service_redirect}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `href` VARCHAR(512) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query storeID="content_api"><![CDATA[INSERT INTO `{table.amun_content_api}` (`serviceId`, `priority`, `endpoint`) VALUES
({service.id}, 0, 'service/redirect');]]></query>
    <query><![CDATA[INSERT INTO `{table.amun_content_api_type}` (`apiId`, `type`) VALUES
({id.content_api}, '{service.type}'),
({id.content_api}, 'http://ns.amun-project.org/2011/amun/data/1.0');]]></query>
  </database>
</service>
