<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="2bec26d2645d9c0228cf98641f727a0aaf40142c">
  <status>normal</status>
  <name>redirect</name>
  <description>Redirets the user to an given url</description>
  <path>/redirect</path>
  <namespace>redirect</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/redirect</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/redirect</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Service Redirect View"/>
    <perm name="add" description="Service Redirect Add"/>
    <perm name="edit" description="Service Redirect Edit"/>
    <perm name="delete" description="Service Redirect Delete"/>
  </permissions>
  <registry>
    <table name="redirect"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Redirect">
        <file name="Form.php" md5="fd1910e0ee660522fb2fe2024b5b22b8"/>
        <file name="Handler.php" md5="05d46d89888e67a9e98a709f35fcd136"/>
        <file name="Record.php" md5="f0e924d760f5d60fd5c4462ee2f37af1"/>
        <file name="Table.php" md5="e465e00b148d260d860e02429640aff8"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.redirect}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `href` VARCHAR(512) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
