<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="5a255589251a448601815686e01e2040ec4ee4b6">
  <status>normal</status>
  <name>my</name>
  <path>/my</path>
  <namespace>my</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/my</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://specs.openid.net/auth/2.0/signon</type>
      <type>http://openid.net/extensions/sreg/1.1</type>
      <type>http://specs.openid.net/extensions/oauth/1.0</type>
      <uri>/signon</uri>
    </service>
    <service>
      <type>http://portablecontacts.net/spec/1.0</type>
      <type>http://ns.opensocial.org/2008/opensocial/people</type>
      <uri>/people</uri>
    </service>
    <service>
      <type>http://activitystrea.ms/spec/1.0/</type>
      <type>http://ns.opensocial.org/2008/opensocial/activities</type>
      <uri>/activity</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/my/verifyCredentials</type>
      <uri>/verifyCredentials</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="My View"/>
    <perm name="friends_view" description="My Friends View"/>
    <perm name="activities_view" description="My Activites View"/>
    <perm name="settings_view" description="My Settings View"/>
    <perm name="contact_view" description="My Contact View"/>
    <perm name="contact_add" description="My Contact Add"/>
    <perm name="contact_edit" description="My Contact Edit"/>
    <perm name="contact_delete" description="My Contact Delete"/>
    <perm name="notify_view" description="My Notify View"/>
    <perm name="notify_add" description="My Notify Add"/>
    <perm name="notify_edit" description="My Notify Edit"/>
    <perm name="notify_delete" description="My Notify Delete"/>
    <perm name="subscription_view" description="My Subscription View"/>
    <perm name="subscription_add" description="My Subscription Add"/>
    <perm name="subscription_edit" description="My Subscription Edit"/>
    <perm name="subscription_delete" description="My Subscription Delete"/>
  </permissions>
  <navigation>
    <option name="index"/>
    <option name="friends"/>
    <option name="settings"/>
  </navigation>
  <registry>
    <table name="my_attempt"/>
    <table name="my_contact"/>
    <table name="my_notify"/>
    <table name="my_notify_service"/>
    <param name="registration_enabled" value="1" type="BOOLEAN"/>
    <param name="max_group_count" value="12" type="INTEGER"/>
    <param name="max_wrong_login" value="8" type="INTEGER"/>
    <param name="openid_provider" value="googlemail.com, gmail.com, yahoo.com, aol.com, aim.com" type="STRING"/>
  </registry>
  <mail>
    <template name="MY_REGISTRATION" from="noreply@%host%" subject="Account activation" values="account.name;account.identity;host.name;register.link;register.date">
      <text><![CDATA[
Hello {account.name},

you have successful registered at {host.name}. Your identity is
"{account.identity}". In order to activate your account please visit the
following activation link:

{register.link}
]]></text>
      <html><![CDATA[
Hello {account.name},

you have successful registered at {host.name}. Your identity is
"{account.identity}". In order to activate your account please visit the
following activation link:

{register.link}
]]></html>
    </template>
    <template name="MY_RECOVER" from="noreply@%host%" subject="Account recover" values="account.name;host.name;recover.ip;recover.link;recover.date">
      <text><![CDATA[
Hello {account.name},

{recover.ip} wants to recover your password. In order to get a new password 
visit the following link. We will create a new password for you and send it to 
this email address. Ignore this email if you have not requested a new password.

{recover.link}
]]></text>
      <html><![CDATA[
Hello {account.name},

{recover.ip} wants to recover your password. In order to get a new password 
visit the following link. We will create a new password for you and send it to 
this email address. Ignore this email if you have not requested a new password.

{recover.link}
]]></html>
    </template>
    <template name="MY_RECOVER_SUCCESS" from="noreply@%host%" subject="Account recover success" values="account.name;account.pw;host.name;recover.link;recover.date">
      <text><![CDATA[
Hello {account.name},

you have successful recovered your password. It is highly recommended to change
the password after a recovery process because the password was maybe transmitted
over an insecure channel.

New password: {account.pw}

You can login with the new password at:
{recover.link}
]]></text>
      <html><![CDATA[
Hello {account.name},

you have successful recovered your password. It is highly recommended to change
the password after a recovery process because the password was maybe transmitted
over an insecure channel.

New password: {account.pw}

You can login with the new password at:
{recover.link}
]]></html>
    </template>
  </mail>
  <library>
    <dir name="AmunService">
      <dir name="My">
        <file name="Activity.php" md5="4613177f13f6880ccc2cfe56626da9b4"/>
        <file name="Attempt.php" md5="b769155ac6cbe8844a947e7f142707e7"/>
        <dir name="Contact">
          <dir name="Filter">
            <file name="Status.php" md5="db0b471606bdd0150da3915a4214dc45"/>
            <file name="Type.php" md5="023f206afeb8289d6c6d0079abb6dc39"/>
          </dir>
          <file name="Form.php" md5="c7b174ca7394a1a3adc53030207dda82"/>
          <file name="Handler.php" md5="b320707cffcf94c10a2c30f77c5a8be6"/>
          <file name="Record.php" md5="9949d2117c419126399535fc34a80280"/>
          <file name="Table.php" md5="bd8cbfe3c2ee13f438a3861750694693"/>
        </dir>
        <file name="Credentials.php" md5="0bc4483f16e95fb42207db2808632963"/>
        <file name="FriendsAbstract.php" md5="3e9596e37665bea40e4de5273d917950"/>
        <file name="MyAbstract.php" md5="2a5adae2b611d100683c8ffb572f0e48"/>
        <dir name="Notify">
          <dir name="Filter">
            <file name="Status.php" md5="c1d8a22f2bb4358007a60eba005bdc35"/>
          </dir>
          <file name="Form.php" md5="7a6d66de6a7959e098dd041352b7e18a"/>
          <file name="Handler.php" md5="7d9f201b56351d8c9eef955510032c6d"/>
          <file name="Record.php" md5="bc76e3e7051d455eff0514608008f3f2"/>
          <dir name="Service">
            <file name="Table.php" md5="9348f19db93206037a9da93117737956"/>
          </dir>
          <file name="Table.php" md5="ed08cd13aec0a344f727d641cc6bc637"/>
        </dir>
        <file name="People.php" md5="66b7444bc643ff6d3df6c157c2355471"/>
        <file name="SettingsAbstract.php" md5="fb509d4551e7016f9a6c2e8075014f06"/>
        <dir name="Subscription">
          <file name="Form.php" md5="e2b11ec4f06e801ab6994bcbeb8a25be"/>
          <file name="Handler.php" md5="a5e604a26644f01665604a206d728ebf"/>
          <file name="Record.php" md5="031be3989f7af489ef3986c77ecee500"/>
          <file name="Table.php" md5="8dc94f9266d9ca020148dc0311774628"/>
        </dir>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.my_attempt}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `ip` varchar(40) NOT NULL,
  `count` int(10) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ip` (`ip`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.my_contact}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `userId` INT(10) NOT NULL,
  `status` INT(10) NOT NULL,
  `type` ENUM('EMAIL','XMPP') NOT NULL,
  `value` VARCHAR(64) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.my_notify}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `userId` INT(10) NOT NULL,
  `serviceId` INT(10) NOT NULL,
  `contactId` INT(10) NOT NULL,
  `status` INT(10) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `serviceContactId` (`serviceId`,`contactId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.my_notify_service}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `table` VARCHAR(32) NOT NULL,
  `title` VARCHAR(64) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
