<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="6e039d8487a584e3953c943543fe625e0ecb36ab">
  <status>normal</status>
  <name>my</name>
  <path>/my</path>
  <namespace>my</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/my</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://specs.openid.net/auth/2.0/signon</type>
      <type>http://openid.net/extensions/sreg/1.1</type>
      <type>http://specs.openid.net/extensions/oauth/1.0</type>
      <uri>/signon</uri>
    </service>
    <service>
      <type>http://portablecontacts.net/spec/1.0</type>
      <type>http://ns.opensocial.org/2008/opensocial/people</type>
      <uri>/people</uri>
    </service>
    <service>
      <type>http://activitystrea.ms/spec/1.0/</type>
      <type>http://ns.opensocial.org/2008/opensocial/activities</type>
      <uri>/activity</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/my/verifyCredentials</type>
      <uri>/verifyCredentials</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Service My View"/>
    <perm name="friends_view" description="Service My Friends View"/>
    <perm name="activities_view" description="Service My Activites View"/>
    <perm name="settings_view" description="Service My Settings View"/>
    <perm name="contact_view" description="Service My Contact View"/>
    <perm name="contact_add" description="Service My Contact Add"/>
    <perm name="contact_edit" description="Service My Contact Edit"/>
    <perm name="contact_delete" description="Service My Contact Delete"/>
    <perm name="notify_view" description="Service My Notify View"/>
    <perm name="notify_add" description="Service My Notify Add"/>
    <perm name="notify_edit" description="Service My Notify Edit"/>
    <perm name="notify_delete" description="Service My Notify Delete"/>
    <perm name="subscription_view" description="Service My Subscription View"/>
    <perm name="subscription_add" description="Service My Subscription Add"/>
    <perm name="subscription_edit" description="Service My Subscription Edit"/>
    <perm name="subscription_delete" description="Service My Subscription Delete"/>
  </permissions>
  <library>
    <dir name="AmunService">
      <dir name="My">
        <file name="Activity.php" md5="b2fb1b462066a9140e5365fbb18ebfcc"/>
        <file name="Attempt.php" md5="41b7b6decdfefa121053e98f694806e8"/>
        <dir name="Contact">
          <dir name="Filter">
            <file name="Status.php" md5="db0b471606bdd0150da3915a4214dc45"/>
            <file name="Type.php" md5="023f206afeb8289d6c6d0079abb6dc39"/>
          </dir>
          <file name="Form.php" md5="db4f94f20201ccf40158f42da104271c"/>
          <file name="Handler.php" md5="b320707cffcf94c10a2c30f77c5a8be6"/>
          <file name="Record.php" md5="7d7b649c055c2d8f1cbd505bc63cea78"/>
          <file name="Table.php" md5="24b57d32e2548853a3d92d1117836ec1"/>
        </dir>
        <file name="Credentials.php" md5="8a9a255e16a4506a68839cb33b06dabb"/>
        <file name="FriendsAbstract.php" md5="b7c8f06095fe9c768075db8dc436f941"/>
        <file name="MyAbstract.php" md5="e405aed127ea5b9ebd0f6e38f1a22eae"/>
        <dir name="Notify">
          <dir name="Filter">
            <file name="Status.php" md5="c1d8a22f2bb4358007a60eba005bdc35"/>
          </dir>
          <file name="Form.php" md5="daed248436431c4e86bee3b64b39fd9a"/>
          <file name="Handler.php" md5="7d9f201b56351d8c9eef955510032c6d"/>
          <file name="Record.php" md5="cf25c899d1ab8d03edd87ed62a16b13a"/>
          <dir name="Service">
            <file name="Table.php" md5="277b5e6869456e9942170729ee30bf91"/>
          </dir>
          <file name="Table.php" md5="64aac7665f4d753bed4847657268f368"/>
        </dir>
        <file name="People.php" md5="42888caf619e506e062dff946bb605f5"/>
        <file name="SettingsAbstract.php" md5="dcb2207e11ff35b81dc460207328ddbc"/>
        <dir name="Subscription">
          <file name="Form.php" md5="5a2d503a35e5ce2fd3b0c0d34950c7e3"/>
          <file name="Handler.php" md5="a5e604a26644f01665604a206d728ebf"/>
          <file name="Record.php" md5="939b575e9e504cb3b5d69c6b31dcdbaf"/>
          <file name="Table.php" md5="377c7843d14c1dd2e9648d6cbc20ef7c"/>
        </dir>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[INSERT INTO `{table.core_system_registry}` (`name`, `type`, `value`) VALUES
('my.registration_enabled', 'BOOLEAN', '1'),
('my.max_group_count', 'INTEGER', '12'),
('my.openid_provider', 'STRING', 'googlemail.com, gmail.com, yahoo.com, aol.com, aim.com'),
('table.my_attempt', 'STRING', '{config.table_prefix}my_attempt'),
('table.my_contact', 'STRING', '{config.table_prefix}my_contact'),
('table.my_notify', 'STRING', '{config.table_prefix}my_notify'),
('table.my_notify_service', 'STRING', '{config.table_prefix}my_notify_service'),
('table.my_subscription', 'STRING', '{config.table_prefix}my_subscription');]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.my_attempt}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `ip` varchar(40) NOT NULL,
  `count` int(10) NOT NULL,
  `date` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ip` (`ip`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.my_contact}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `userId` INT(10) NOT NULL,
  `status` INT(10) NOT NULL,
  `type` ENUM('EMAIL','XMPP') NOT NULL,
  `value` VARCHAR(64) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.my_notify}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `userId` INT(10) NOT NULL,
  `serviceId` INT(10) NOT NULL,
  `contactId` INT(10) NOT NULL,
  `status` INT(10) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `serviceContactId` (`serviceId`,`contactId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.my_notify_service}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `table` VARCHAR(32) NOT NULL,
  `title` VARCHAR(64) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.my_subscription}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` INT(10) NOT NULL,
  `status` INT(10) NOT NULL,
  `hub` VARCHAR(256) NOT NULL,
  `topic` VARCHAR(256) NOT NULL,
  `leaseSeconds` INT(10),
  `secret` VARCHAR(40),
  `verifyToken` VARCHAR(32),
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[INSERT INTO `{table.core_content_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index'),
({service.id}, 'friends'),
({service.id}, 'settings');]]></query>
    <query><![CDATA[INSERT INTO `{table.core_system_mail}` (`name`, `from`, `subject`, `text`, `html`, `values`) VALUES
('SERVICE_MY_REGISTRATION', 'noreply@{config.host}', 'Account activation', 'Hello {account.name},

you have successful registered at {host.name}. Your identity is
"{account.identity}". In order to activate your account please visit the
following activation link:

{register.link}', 'Hello {account.name},

you have successful registered at {host.name}. Your identity is
"{account.identity}". In order to activate your account please visit the
following activation link:

{register.link}', 'account.name;account.identity;host.name;register.link;register.date'),
('SERVICE_MY_RECOVER', 'noreply@{config.host}', 'Account recover', 'Hello {account.name},

{recover.ip} wants to recover your password. In order to get a new
password visit the following link. We will create a new password for you
and send it to this email address. Ignore this email if you have not requested
a new password.

{recover.link}', 'Hello {account.name},

{recover.ip} wants to recover your password. In order to get a new
password visit the following link. We will create a new password for you
and send it to this email address. Ignore this email if you have not requested
a new password.

{recover.link}', 'account.name;host.name;recover.ip;recover.link;recover.date'),
('SERVICE_MY_RECOVER_SUCCESS', 'noreply@{config.host}', 'Account recover success', 'Hello {account.name},

you have successful recovered your password. It is highly recommended to change
the password after a recovery process because the password was maybe transmitted
over an insecure channel.

New password: {account.pw}

You can login with the new password at:
{recover.link}', 'Hello {account.name},

you have successful recovered your password. It is highly recommended to change
the password after a recovery process because the password was maybe transmitted
over an insecure channel.

New password: {account.pw}

You can login with the new password at:
{recover.link}', 'account.name;account.pw;host.name;recover.link;recover.date');]]></query>
  </database>
</service>
