<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org">
  <status>normal</status>
  <path>/my</path>
  <namespace>AmunService\My</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/my</type>
  <api>
    <service>
      <type>http://portablecontacts.net/spec/1.0</type>
      <type>http://ns.opensocial.org/2008/opensocial/people</type>
      <uri>/people</uri>
    </service>
    <service>
      <type>http://activitystrea.ms/spec/1.0/</type>
      <type>http://ns.opensocial.org/2008/opensocial/activities</type>
      <uri>/activity</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/my/verifyCredentials</type>
      <uri>/verifyCredentials</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="My View"/>
    <perm name="friends_view" description="My Friends View"/>
    <perm name="activities_view" description="My Activites View"/>
    <perm name="settings_view" description="My Settings View"/>
  </permissions>
  <navigation>
    <option name="index"/>
    <option name="friends"/>
    <option name="settings"/>
  </navigation>
  <registry>
    <param name="max_group_count" value="12" type="INTEGER"/>
  </registry>
</service>
