<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="fed87070cce021b1245db94c59ef3549ed68fa4e">
  <status>normal</status>
  <name>pipe</name>
  <path>/pipe</path>
  <namespace>pipe</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/pipe</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/pipe</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Service Pipe View"/>
    <perm name="add" description="Service Pipe Add"/>
    <perm name="edit" description="Service Pipe Edit"/>
    <perm name="delete" description="Service Pipe Delete"/>
  </permissions>
  <library>
    <dir name="AmunService">
      <dir name="Pipe">
        <file name="Form.php" md5="c8d004257235290eeac0e640eca3b145"/>
        <file name="Handler.php" md5="66239ba5b72dfd5e2cd9aba5149d46da"/>
        <file name="Record.php" md5="9ccfd5edc5192ab0d2929494fee2ebd1"/>
        <file name="Table.php" md5="ce8aae8bfabec315c65461f1e5ed6ab0"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[INSERT INTO `{table.core_system_registry}` (`name`, `type`, `value`) VALUES
('table.pipe', 'STRING', '{config.table_prefix}pipe');]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.pipe}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `mediaId` INT(10) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[INSERT INTO `{table.core_content_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index');]]></query>
  </database>
</service>
