<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="cae925edc241293bea7d4090e9d68e65d8c02ac5">
  <status>normal</status>
  <name>pipe</name>
  <description>Service wich redirects the content of an file to a page</description>
  <path>/pipe</path>
  <namespace>pipe</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/pipe</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/pipe</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Service Pipe View"/>
    <perm name="add" description="Service Pipe Add"/>
    <perm name="edit" description="Service Pipe Edit"/>
    <perm name="delete" description="Service Pipe Delete"/>
  </permissions>
  <registry>
    <table name="pipe"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Pipe">
        <file name="Form.php" md5="03f6bda7ebe93f88d6afe5971e43ec36"/>
        <file name="Handler.php" md5="df9737342f99235bfeeb14ed9f469e93"/>
        <file name="Record.php" md5="8265dfb61195f62ee1f5502ab5622c57"/>
        <file name="Table.php" md5="eee18b77594b1726fc85edf969ba1850"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.pipe}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `pageId` INT(10) NOT NULL,
  `userId` INT(10) NOT NULL,
  `mediaId` INT(10) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[INSERT INTO `{table.core_service_option}` (`serviceId`, `name`) VALUES
({service.id}, 'index');]]></query>
  </database>
</service>
