<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="98d5bcf709cf331c6ee3c2ee4e35db201368395a">
  <status>system</status>
  <name>country</name>
  <description>Service wich provides a table of countries</description>
  <path>/country</path>
  <namespace>country</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/country</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/country</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Country view"/>
  </permissions>
  <registry>
    <table name="country"/>
  </registry>
  <library>
    <dir name="AmunService">
      <dir name="Country">
        <file name="Form.php" md5="be83036dd409705d5718754b7fabc373"/>
        <file name="Handler.php" md5="b5c0f828276d0662cbc5008d018db300"/>
        <file name="Record.php" md5="07e5c8174fedc8d6590bdf5abfcfcbac"/>
        <file name="Table.php" md5="87a73a5d2ee876dc6e1ed0308f6ea5be"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.country}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `title` varchar(64) NOT NULL,
  `code` varchar(2) NOT NULL,
  `longitude` double NOT NULL,
  `latitude` double NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8]]></query>
    <query><![CDATA[INSERT INTO `{table.country}` (`title`, `code`, `longitude`, `latitude`) VALUES
('Undisclosed', '', '', ''),
('Afghanistan', 'AF', '33.0000', '65.0000'),
('Albania', 'AL', '41.0000', '20.0000'),
('Algeria', 'DZ', '28.0000', '3.0000'),
('American Samoa', 'AS', '-14.3333', '-170.0000'),
('Andorra', 'AD', '42.5000', '1.5000'),
('Angola', 'AO', '-12.5000', '18.5000'),
('Anguilla', 'AI', '18.2500', '-63.1667'),
('Antarctica', 'AQ', '-90.0000', '0.0000'),
('Antigua and Barbuda', 'AG', '17.0500', '-61.8000'),
('Argentina', 'AR', '-34.0000', '-64.0000'),
('Armenia', 'AM', '40.0000', '45.0000'),
('Aruba', 'AW', '12.5000', '-69.9667'),
('Australia', 'AU', '-27.0000', '133.0000'),
('Austria', 'AT', '47.3333', '13.3333'),
('Azerbaijan', 'AZ', '40.5000', '47.5000'),
('Bahamas', 'BS', '24.2500', '-76.0000'),
('Bahrain', 'BH', '26.0000', '50.5500'),
('Bangladesh', 'BD', '24.0000', '90.0000'),
('Barbados', 'BB', '13.1667', '-59.5333'),
('Belarus', 'BY', '53.0000', '28.0000'),
('Belgium', 'BE', '50.8333', '4.0000'),
('Belize', 'BZ', '17.2500', '-88.7500'),
('Benin', 'BJ', '9.5000', '2.2500'),
('Bermuda', 'BM', '32.3333', '-64.7500'),
('Bhutan', 'BT', '27.5000', '90.5000'),
('Bolivia', 'BO', '-17.0000', '-65.0000'),
('Bosnia and Herzegovina', 'BA', '44.0000', '18.0000'),
('Botswana', 'BW', '-22.0000', '24.0000'),
('Bouvet Island', 'BV', '-54.4333', '3.4000'),
('Brazil', 'BR', '-10.0000', '-55.0000'),
('British Indian Ocean Territory', 'IO', '-6.0000', '71.5000'),
('Brunei Darussalam', 'BN', '4.5000', '114.6667'),
('Bulgaria', 'BG', '43.0000', '25.0000'),
('Burkina Faso', 'BF', '13.0000', '-2.0000'),
('Burundi', 'BI', '-3.5000', '30.0000'),
('Cambodia', 'KH', '13.0000', '105.0000'),
('Cameroon', 'CM', '6.0000', '12.0000'),
('Canada', 'CA', '60.0000', '-95.0000'),
('Cape Verde', 'CV', '16.0000', '-24.0000'),
('Cayman Islands', 'KY', '19.5000', '-80.5000'),
('Central African Republic', 'CF', '7.0000', '21.0000'),
('Chad', 'TD', '15.0000', '19.0000'),
('Chile', 'CL', '-30.0000', '-71.0000'),
('China', 'CN', '35.0000', '105.0000'),
('Christmas Island', 'CX', '-10.5000', '105.6667'),
('Cocos (Keeling) Islands', 'CC', '-12.5000', '96.8333'),
('Colombia', 'CO', '4.0000', '-72.0000'),
('Comoros', 'KM', '-12.1667', '44.2500'),
('Congo', 'CG', '-1.0000', '15.0000'),
('Congo, The Democratic Republic of The', 'CD', '0.0000', '25.0000'),
('Cook Islands', 'CK', '-21.2333', '-159.7667'),
('Costa Rica', 'CR', '10.0000', '-84.0000'),
('Cote Divoire', 'CI', '8.0000', '-5.0000'),
('Croatia', 'HR', '45.1667', '15.5000'),
('Cuba', 'CU', '21.5000', '-80.0000'),
('Cyprus', 'CY', '35.0000', '33.0000'),
('Czech Republic', 'CZ', '49.7500', '15.5000'),
('Denmark', 'DK', '56.0000', '10.0000'),
('Djibouti', 'DJ', '11.5000', '43.0000'),
('Dominica', 'DM', '15.4167', '-61.3333'),
('Dominican Republic', 'DO', '19.0000', '-70.6667'),
('Ecuador', 'EC', '-2.0000', '-77.5000'),
('Egypt', 'EG', '27.0000', '30.0000'),
('El Salvador', 'SV', '13.8333', '-88.9167'),
('Equatorial Guinea', 'GQ', '2.0000', '10.0000'),
('Eritrea', 'ER', '15.0000', '39.0000'),
('Estonia', 'EE', '59.0000', '26.0000'),
('Ethiopia', 'ET', '8.0000', '38.0000'),
('Falkland Islands (Malvinas)', 'FK', '-51.7500', '-59.0000'),
('Faroe Islands', 'FO', '62.0000', '-7.0000'),
('Fiji', 'FJ', '-18.0000', '175.0000'),
('Finland', 'FI', '64.0000', '26.0000'),
('France', 'FR', '46.0000', '2.0000'),
('French Guiana', 'GF', '4.0000', '-53.0000'),
('French Polynesia', 'PF', '-15.0000', '-140.0000'),
('French Southern Territories', 'TF', '-43.0000', '67.0000'),
('Gabon', 'GA', '-1.0000', '11.7500'),
('Gambia', 'GM', '13.4667', '-16.5667'),
('Georgia', 'GE', '42.0000', '43.5000'),
('Germany', 'DE', '51.0000', '9.0000'),
('Ghana', 'GH', '8.0000', '-2.0000'),
('Gibraltar', 'GI', '36.1833', '-5.3667'),
('Greece', 'GR', '39.0000', '22.0000'),
('Greenland', 'GL', '72.0000', '-40.0000'),
('Grenada', 'GD', '12.1167', '-61.6667'),
('Guadeloupe', 'GP', '16.2500', '-61.5833'),
('Guam', 'GU', '13.4667', '144.7833'),
('Guatemala', 'GT', '15.5000', '-90.2500'),
('Guinea', 'GN', '11.0000', '-10.0000'),
('Guinea-bissau', 'GW', '12.0000', '-15.0000'),
('Guyana', 'GY', '5.0000', '-59.0000'),
('Haiti', 'HT', '19.0000', '-72.4167'),
('Heard Island and Mcdonald Islands', 'HM', '-53.1000', '72.5167'),
('Honduras', 'HN', '15.0000', '-86.5000'),
('Hong Kong', 'HK', '22.2500', '114.1667'),
('Hungary', 'HU', '47.0000', '20.0000'),
('Iceland', 'IS', '65.0000', '-18.0000'),
('India', 'IN', '20.0000', '77.0000'),
('Indonesia', 'ID', '-5.0000', '120.0000'),
('Iran', 'IR', '32.0000', '53.0000'),
('Iraq', 'IQ', '33.0000', '44.0000'),
('Ireland', 'IE', '53.0000', '-8.0000'),
('Israel', 'IL', '31.5000', '34.7500'),
('Italy', 'IT', '42.8333', '12.8333'),
('Jamaica', 'JM', '18.2500', '-77.5000'),
('Japan', 'JP', '36.0000', '138.0000'),
('Jordan', 'JO', '31.0000', '36.0000'),
('Kazakhstan', 'KZ', '48.0000', '68.0000'),
('Kenya', 'KE', '1.0000', '38.0000'),
('Kiribati', 'KI', '1.4167', '173.0000'),
('Korea, North', 'KP', '40.0000', '127.0000'),
('Korea, South', 'KR', '37.0000', '127.5000'),
('Kuwait', 'KW', '29.3375', '47.6581'),
('Kyrgyzstan', 'KG', '41.0000', '75.0000'),
('Laos', 'LA', '18.0000', '105.0000'),
('Latvia', 'LV', '57.0000', '25.0000'),
('Lebanon', 'LB', '33.8333', '35.8333'),
('Lesotho', 'LS', '-29.5000', '28.5000'),
('Liberia', 'LR', '6.5000', '-9.5000'),
('Libyan Arab Jamahiriya', 'LY', '25.0000', '17.0000'),
('Liechtenstein', 'LI', '47.1667', '9.5333'),
('Lithuania', 'LT', '56.0000', '24.0000'),
('Luxembourg', 'LU', '49.7500', '6.1667'),
('Macao', 'MO', '22.1667', '113.5500'),
('Macedonia', 'MK', '41.8333', '22.0000'),
('Madagascar', 'MG', '-20.0000', '47.0000'),
('Malawi', 'MW', '-13.5000', '34.0000'),
('Malaysia', 'MY', '2.5000', '112.5000'),
('Maldives', 'MV', '3.2500', '73.0000'),
('Mali', 'ML', '17.0000', '-4.0000'),
('Malta', 'MT', '35.8333', '14.5833'),
('Marshall Islands', 'MH', '9.0000', '168.0000'),
('Martinique', 'MQ', '14.6667', '-61.0000'),
('Mauritania', 'MR', '20.0000', '-12.0000'),
('Mauritius', 'MU', '-20.2833', '57.5500'),
('Mayotte', 'YT', '-12.8333', '45.1667'),
('Mexico', 'MX', '23.0000', '-102.0000'),
('Micronesia, Federated States of', 'FM', '6.9167', '158.2500'),
('Moldova, Republic of', 'MD', '47.0000', '29.0000'),
('Monaco', 'MC', '43.7333', '7.4000'),
('Mongolia', 'MN', '46.0000', '105.0000'),
('Montenegro', 'ME', '42.0000', '19.0000'),
('Montserrat', 'MS', '16.7500', '-62.2000'),
('Morocco', 'MA', '32.0000', '-5.0000'),
('Mozambique', 'MZ', '-18.2500', '35.0000'),
('Myanmar', 'MM', '22.0000', '98.0000'),
('Namibia', 'NA', '-22.0000', '17.0000'),
('Nauru', 'NR', '-0.5333', '166.9167'),
('Nepal', 'NP', '28.0000', '84.0000'),
('Netherlands', 'NL', '52.5000', '5.7500'),
('Netherlands Antilles', 'AN', '12.2500', '-68.7500'),
('New Caledonia', 'NC', '-21.5000', '165.5000'),
('New Zealand', 'NZ', '-41.0000', '174.0000'),
('Nicaragua', 'NI', '13.0000', '-85.0000'),
('Niger', 'NE', '16.0000', '8.0000'),
('Nigeria', 'NG', '10.0000', '8.0000'),
('Niue', 'NU', '-19.0333', '-169.8667'),
('Norfolk Island', 'NF', '-29.0333', '167.9500'),
('Northern Mariana Islands', 'MP', '15.2000', '145.7500'),
('Norway', 'NO', '62.0000', '10.0000'),
('Oman', 'OM', '21.0000', '57.0000'),
('Pakistan', 'PK', '30.0000', '70.0000'),
('Palau', 'PW', '7.5000', '134.5000'),
('Palestinian Territory', 'PS', '32.0000', '35.2500'),
('Panama', 'PA', '9.0000', '-80.0000'),
('Papua New Guinea', 'PG', '-6.0000', '147.0000'),
('Paraguay', 'PY', '-23.0000', '-58.0000'),
('Peru', 'PE', '-10.0000', '-76.0000'),
('Philippines', 'PH', '13.0000', '122.0000'),
('Poland', 'PL', '52.0000', '20.0000'),
('Portugal', 'PT', '39.5000', '-8.0000'),
('Puerto Rico', 'PR', '18.2500', '-66.5000'),
('Qatar', 'QA', '25.5000', '51.2500'),
('Reunion', 'RE', '-21.1000', '55.6000'),
('Romania', 'RO', '46.0000', '25.0000'),
('Russia', 'RU', '60.0000', '100.0000'),
('Rwanda', 'RW', '-2.0000', '30.0000'),
('Saint Helena', 'SH', '-15.9333', '-5.7000'),
('Saint Kitts and Nevis', 'KN', '17.3333', '-62.7500'),
('Saint Lucia', 'LC', '13.8833', '-61.1333'),
('Saint Pierre and Miquelon', 'PM' ,'46.8333', '-56.3333'),
('Saint Vincent and The Grenadines', 'VC', '13.2500', '-61.2000'),
('Samoa', 'WS', '-13.5833', '-172.3333'),
('San Marino', 'SM', '43.7667', '12.4167'),
('Sao Tome and Principe', 'ST', '1.0000', '7.0000'),
('Saudi Arabia', 'SA', '25.0000', '45.0000'),
('Senegal', 'SN', '14.0000', '-14.0000'),
('Serbia and Montenegro', 'RS', '44.0000', '21.0000'),
('Seychelles', 'SC', '-4.5833', '55.6667'),
('Sierra Leone', 'SL', '8.5000', '-11.5000'),
('Singapore', 'SG', '1.3667', '103.8000'),
('Slovakia', 'SK', '48.6667', '19.5000'),
('Slovenia', 'SI', '46.0000', '15.0000'),
('Solomon Islands', 'SB', '-8.0000', '159.0000'),
('Somalia', 'SO', '10.0000', '49.0000'),
('South Africa', 'ZA', '-29.0000', '24.0000'),
('South Georgia and The South Sandwich Islands', 'GS', '-54.5000', '-37.0000'),
('Spain', 'ES', '40.0000', '-4.0000'),
('Sri Lanka', 'LK', '7.0000', '81.0000'),
('Sudan', 'SD', '15.0000', '30.0000'),
('Suriname', 'SR', '4.0000', '-56.0000'),
('Svalbard and Jan Mayen', 'SJ', '78.0000', '20.0000'),
('Swaziland', 'SZ', '-26.5000', '31.5000'),
('Sweden', 'SE', '62.0000', '15.0000'),
('Switzerland', 'CH', '47.0000', '8.0000'),
('Syria', 'SY', '35.0000', '38.0000'),
('Taiwan', 'TW', '23.5000', '121.0000'),
('Tajikistan', 'TJ', '39.0000', '71.0000'),
('Tanzania, United Republic of', 'TZ', '-6.0000', '35.0000'),
('Thailand', 'TH', '15.0000', '100.0000'),
('Togo', 'TG', '8.0000', '1.1667'),
('Tokelau', 'TK', '-9.0000', '-172.0000'),
('Tonga', 'TO', '-20.0000', '-175.0000'),
('Trinidad and Tobago', 'TT', '11.0000', '-61.0000'),
('Tunisia', 'TN', '34.0000', '9.0000'),
('Turkey', 'TR', '39.0000', '35.0000'),
('Turkmenistan', 'TM', '40.0000', '60.0000'),
('Turks and Caicos Islands', 'TC', '21.7500', '-71.5833'),
('Tuvalu', 'TV', '-8.0000', '178.0000'),
('Uganda', 'UG', '1.0000', '32.0000'),
('Ukraine', 'UA', '49.0000', '32.0000'),
('United Arab Emirates', 'AE', '24.0000', '54.0000'),
('United Kingdom', 'GB', '54.0000', '-2.0000'),
('United States', 'US', '38.0000', '-97.0000'),
('United States Minor Outlying Islands', 'UM', '19.2833', '166.6000'),
('Uruguay', 'UY', '-33.0000', '-56.0000'),
('Uzbekistan', 'UZ', '41.0000', '64.0000'),
('Vanuatu', 'VU', '-16.0000', '167.0000'),
('Vatican City', 'VA', '41.9000', '12.4500'),
('Venezuela', 'VE', '8.0000', '-66.0000'),
('Vietnam', 'VN', '16.0000', '106.0000'),
('Virgin Islands, British', 'VG', '18.5000', '-64.5000'),
('Virgin Islands, U.S.', 'VI', '18.3333', '-64.8333'),
('Wallis and Futuna', 'WF', '-13.3000', '-176.2000'),
('Western Sahara', 'EH', '24.5000', '-13.0000'),
('Yemen', 'YE', '15.0000', '48.0000'),
('Zambia', 'ZM', '-15.0000', '30.0000'),
('Zimbabwe', 'ZW', '-20.0000', '30.0000');]]></query>
  </database>
</service>
