<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="f33cf554b3bc0806327ecdc08d3262a1bcff2c03">
  <status>system</status>
  <name>webdav</name>
  <description>Service wich offers an webdav API. Every service can provide a custom DAV node wich represents the page</description>
  <path>/webdav</path>
  <namespace>webdav</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/webdav</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/webdav</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Webdav View"/>
  </permissions>
  <library>
    <dir name="AmunService">
      <dir name="Webdav">
        <file name="File.php" md5="21685ab43b896f728f0e2dc83e0ab1c1"/>
        <file name="Page.php" md5="c6fd2241e7dea6bb7f5334d2b6259496"/>
      </dir>
    </dir>
  </library>
</service>
