<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="8404a2db7198c7247fd6c5ce77f8b6ee5aecfeaa">
  <status>system</status>
  <name>vcshook</name>
  <description>Gateway to receive commits from different version control system services like github, googleproject</description>
  <path>/vcshook</path>
  <namespace>vcshook</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/vcshook</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/vcshook</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/vcshook/author</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/author</uri>
    </service>
  </api>
  <activity>
    <template type="INSERT" verb="add" table="vcshook_commit" path=""><![CDATA[
<p><a href="{user.profileUrl}">{user.name}</a> has commited</p><blockquote>{record.message}</blockquote>
]]></template>
  </activity>
  <permissions>
    <perm name="view" description="Vcshook View"/>
    <perm name="add" description="Vcshook Add"/>
    <perm name="edit" description="Vcshook Edit"/>
    <perm name="delete" description="Vcshook Delete"/>
    <perm name="author_view" description="Vcshook Author View"/>
    <perm name="author_add" description="Vcshook Author Add"/>
    <perm name="author_edit" description="Vcshook Author Edit"/>
    <perm name="author_delete" description="Vcshook Author Delete"/>
  </permissions>
  <registry>
    <table name="vcshook"/>
    <table name="vcshook_commit"/>
    <table name="vcshook_author"/>
  </registry>
  <event>
    <publisher name="vcshook.commit" description="Notifies if a commit was made"/>
    <listener name="vcshook.commit" class="\AmunService\Vcshook\CommitListener"/>
  </event>
  <library>
    <dir name="AmunService">
      <dir name="Vcshook">
        <dir name="Author">
          <file name="Form.php" md5="0531ab5fb24a688efaa6a0c1d5c94981"/>
          <file name="Handler.php" md5="89000426f32e51fd4039d95cd901506f"/>
          <file name="Record.php" md5="efc0dccc21307840fc60d886c6f1b083"/>
          <file name="Table.php" md5="d5054f3d3f5f4883dce717f49dc56108"/>
        </dir>
        <dir name="Commit">
          <file name="Handler.php" md5="64296aa92714e4bd7a7626458194d874"/>
          <file name="Record.php" md5="036fbeebc2073c9028cfa26de79ccaa2"/>
          <file name="Table.php" md5="20ed7dddc177cf3f871084a03e23b825"/>
        </dir>
        <file name="CommitListener.php" md5="6e47e8e9c1457e8d891f5d8f5c87c33f"/>
        <file name="Form.php" md5="afefded15092253cb1bc6ddcf01f055d"/>
        <file name="Handler.php" md5="5cd5121198e5477d7d318162f80aab61"/>
        <file name="Project.php" md5="544105a646ba316d8d0e5b8998f92361"/>
        <file name="Record.php" md5="18089e89af25f3f4af9815d4d3e73848"/>
        <file name="Revision.php" md5="e2ee8474d5376942e43b138037627f96"/>
        <file name="Table.php" md5="31f638db0534043c0ba49eb1aba2966f"/>
        <dir name="Type">
          <file name="Github.php" md5="a2fefc90dc4a3ecbf031325f2e8c5f91"/>
          <file name="Googleproject.php" md5="04cd20a1646fce5df3b9223386f8667d"/>
        </dir>
        <file name="TypeAbstract.php" md5="808837e163a89146510e9852e1292461"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.vcshook}` (
  `id` INT(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36) NOT NULL,
  `userId` INT(10) NOT NULL,
  `type` ENUM('github', 'googleproject') NOT NULL,
  `url` VARCHAR(32) NOT NULL,
  `secret` VARCHAR(40) NOT NULL,
  `date` DATETIME NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`),
  UNIQUE KEY `url` (`secret`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.vcshook_commit}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `globalId` VARCHAR(36),
  `projectId` INT(10),
  `authorId` INT(10),
  `url` VARCHAR(256),
  `message` VARCHAR(512),
  `commitDate` DATETIME,
  `date` DATETIME,
  PRIMARY KEY (`id`),
  UNIQUE KEY `globalId` (`globalId`),
  UNIQUE KEY `url` (`url`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.vcshook_author}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `userId` INT(10),
  `name` VARCHAR(32),
  `date` DATETIME,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;]]></query>
  </database>
</service>
