
.amun-gadget-latestthreads
{

}

.amun-gadget-latestthreads ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.amun-gadget-latestthreads li
{

}

.amun-service-forum-entry h3
{
	margin:0px;
	font-weight:normal;
}
