<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org" signature="483772bf5967972671272a4c79ff3561ef668829">
  <status>system</status>
  <name>mail</name>
  <description>A service to manage mail templates wich can be used by other services</description>
  <path>/mail</path>
  <namespace>mail</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/mail</type>
  <link>http://amun.phpsx.org</link>
  <author><![CDATA[Christoph Kappestein <k42b3.x@gmail.com>]]></author>
  <license>GPLv3</license>
  <version>0.0.1</version>
  <provider>http://amun-project.org</provider>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/mail</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Mail View"/>
    <perm name="add" description="Mail Add"/>
    <perm name="edit" description="Mail Edit"/>
    <perm name="delete" description="Mail Delete"/>
  </permissions>
  <registry>
    <table name="mail"/>
  </registry>
  <event>
    <listener name="core.service_install" class="\AmunService\Mail\ConfigListener"/>
  </event>
  <library>
    <dir name="Amun">
      <dir name="Mail">
        <file name="SenderInterface.php" md5="286a8ef050c1c899b27a4e1957ef8366"/>
      </dir>
    </dir>
    <dir name="AmunService">
      <dir name="Mail">
        <file name="Form.php" md5="c5a5b35294fa9ab1a71c2495eb698196"/>
        <file name="Handler.php" md5="c708f0b464ee6d5cbcf69e393bda8e59"/>
        <file name="ConfigListener.php" md5="395c0e2d5de196c18ad40e1d170ad389"/>
        <file name="Record.php" md5="5bd424227f8fda21552ac7b08372c291"/>
        <file name="Sender.php" md5="c996dbf086d727f7297eb044df9ab56c"/>
        <file name="Table.php" md5="63e8611748669a5625455719a215b220"/>
      </dir>
    </dir>
  </library>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.mail}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `name` varchar(32) NOT NULL,
  `from` varchar(64) NOT NULL,
  `subject` varchar(256) NOT NULL,
  `text` text NOT NULL,
  `html` text NOT NULL,
  `values` varchar(512) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `NAME` (`name`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8]]></query>
  </database>
</service>
