<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://amun-project.org">
  <status>system</status>
  <path>/mail</path>
  <namespace>AmunService\Mail</namespace>
  <type>http://ns.amun-project.org/2011/amun/service/mail</type>
  <api>
    <service>
      <type>http://ns.amun-project.org/2011/amun/service/mail</type>
      <type>http://ns.amun-project.org/2011/amun/data/1.0</type>
      <uri>/</uri>
    </service>
  </api>
  <permissions>
    <perm name="view" description="Mail View"/>
    <perm name="add" description="Mail Add"/>
    <perm name="edit" description="Mail Edit"/>
    <perm name="delete" description="Mail Delete"/>
  </permissions>
  <registry>
    <table name="mail"/>
  </registry>
  <event>
    <listener name="core.service_install" class="\AmunService\Mail\ConfigListener"/>
  </event>
  <database>
    <query><![CDATA[CREATE TABLE IF NOT EXISTS `{table.mail}` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `name` varchar(32) NOT NULL,
  `from` varchar(64) NOT NULL,
  `subject` varchar(256) NOT NULL,
  `text` text NOT NULL,
  `html` text NOT NULL,
  `values` varchar(512) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `NAME` (`name`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8]]></query>
  </database>
</service>
