
body
{
	margin-top:1px;
	background-color:#eee;
}

header.amun-header
{
	color:#fff;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8FC33A), color-stop(100%, #739B2E));
	background-image:-webkit-linear-gradient(top, #8FC33A, #739B2E);
	background-image:-moz-linear-gradient(top, #8FC33A, #739B2E);
	background-image:-o-linear-gradient(top, #8FC33A, #739B2E);
	background-image:-ms-linear-gradient(top, #8FC33A, #739B2E);
	background-image:linear-gradient(top, #8FC33A, #739B2E);
	border-bottom:1px solid #444;
}

header.amun-header h1
{
	margin-top:8px;
	margin-bottom:8px;
}

header.amun-header a
{
	color:#fff;
}

header.amun-header h1 a
{
	font-weight:bold;
	text-shadow:0 1px 0 #4E691F;
}

header.amun-header .container
{
	padding:0px 6px;
}

div.amun-header-info
{
	margin:8px;
}

div.amun-nav
{
}

div.amun-nav .container
{
	padding:1px 6px;
	border-right:1px solid #999;
	border-left:1px solid #999;
	background-color:#fff;
}

div.amun-nav nav
{
	background-color:#188AE5;
	margin:0px -5px;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #188AE5), color-stop(100%, #167CCE));
	background-image:-webkit-linear-gradient(top, #188AE5, #167CCE 100%);
	background-image:-moz-linear-gradient(top, #188AE5, #167CCE 100%);
	background-image:-o-linear-gradient(top, #188AE5, #167CCE 100%);
	background-image:-ms-linear-gradient(top, #188AE5, #167CCE 100%);
	background-image:linear-gradient(top, #188AE5, #167CCE 100%);
}

div.amun-nav nav ul
{
	margin:0px;
	list-style-type:none;
}

div.amun-nav nav li
{
	float:left;
}

div.amun-nav nav ul li a
{
	display:block;
	padding:12px 14px;
	color:#eee;
	font-size:0.9em;
	font-weight:bold;
}

div.amun-nav nav .active
{
	font-weight:bold;
}

div.amun-path
{
	margin-top:6px;
	padding:4px;
	font-size:0.9em;
}

div.amun-body
{
}

div.amun-body .container
{
	padding:0px 6px;
	padding-top:16px;
	padding-bottom:24px;
	min-height:400px;

	/*box-shadow:0px 1px 2px 1px #888;*/
	border-right:1px solid #999;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	background-color:#fff;
}

div.amun-gadget
{
}

div.amun-gadget h2
{
	color:#eee;
	font-size:0.9em;
	padding:6px;
	margin:0px;
	line-height:2em;
	background-color:#188AE5;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #188AE5), color-stop(100%, #167CCE));
	background-image:-webkit-linear-gradient(top, #188AE5, #167CCE 100%);
	background-image:-moz-linear-gradient(top, #188AE5, #167CCE 100%);
	background-image:-o-linear-gradient(top, #188AE5, #167CCE 100%);
	background-image:-ms-linear-gradient(top, #188AE5, #167CCE 100%);
	background-image:linear-gradient(top, #188AE5, #167CCE 100%);
}

div.amun-options
{
	margin-bottom:16px;
}

div.amun-options ul
{
	list-style-type:none;
	margin:0px;
}

div.amun-options li
{
	float:right;
}

footer.amun-footer
{
	color:#aaa;
	text-align:right;
}

footer.amun-footer .container
{
	padding:24px 0;
}

/* */
p.muted
{
	font-size:0.9em;
	white-space:nowrap;
	overflow:hidden;
}

h2
{
	margin-bottom:2px;
}

.container
{
	max-width:96%;
}

/* prettify */
.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}
